Repository argoproj/argo-workflows, pull requests merged in 2020-01, with the labels that each got.

#1965 feat: Renders namespace in UI. Fixes #1952 and #1959
  Makefile
  cmd/server/apiserver/argoserver.go
  cmd/server/info/info.pb.go
  cmd/server/info/info.pb.gw.go
  cmd/server/info/info.proto
  cmd/server/info/info.swagger.json
  cmd/server/info/info_server.go
  cmd/server/main.go
  manifests/cluster-install/workflow-controller-rbac/workflow-controller-clusterrole.yaml
  manifests/install.yaml
  manifests/namespace-install.yaml
  manifests/namespace-install/kustomization.yaml
  manifests/namespace-install/overlays/argo-server-deployment.yaml
  test/e2e/argo_server_test.go
  ui/src/app/shared/components/namespace-filter.tsx
  ui/src/app/shared/services/index.ts
  ui/src/app/shared/services/info-service.ts
  ui/src/models/workflows.ts
Labels: argo-server

#1972 feat: Adds `argo server` command. Fixes #1966
  .gitignore
  Dockerfile
  Dockerfile.dev
  Makefile
  cmd/argo/commands/root.go
  cmd/argo/commands/server.go
  cmd/argo/commands/token.go
  cmd/server/workflowtemplate/workflow_template_server.go
  docs/rest-api.md
  hack/update-manifests.sh
  manifests/base/argo-server/argo-server-deployment.yaml
  manifests/base/kustomization.yaml
  manifests/install.yaml
  manifests/namespace-install.yaml
  test/e2e/README.md
  test/e2e/argo_server_test.go
  test/e2e/fixtures/diagnotics.go
Labels: argo-server

#1369 fix: Fix workflow level timeouts
  workflow/controller/workflowpod.go
Labels: blocked

#2014 feat(controller): Exposes container runtime executor as CLI option.
  .circleci/config.yml
  Makefile
  cmd/argo/commands/token.go
  cmd/server/auth/authorizer.go
  cmd/server/workflowarchive/archived_workflow_server.go
  cmd/workflow-controller/main.go
  manifests/cluster-install/argo-server-rbac/argo-server-clusterole.yaml
  manifests/cluster-install/workflow-controller-rbac/workflow-controller-clusterrole.yaml
  manifests/install.yaml
  manifests/namespace-install.yaml
  manifests/namespace-install/argo-server-rbac/argo-server-role.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  test/e2e/argo_server_test.go
  test/e2e/cli_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/env.go
  test/e2e/manifests/postgres.yaml
  test/e2e/manifests/postgres/overlays/workflow-controller-deployment.yaml
  test/e2e/smoke_test.go
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/token.go
  util/kubeconfig/token_test.go
  workflow/controller/controller.go
  workflow/controller/operator.go
  workflow/controller/workflowpod.go
Labels: argo-server, bug, security

#1998 feat: Auth refactoring to support single version token
  cmd/argo/commands/archive/delete.go
  cmd/argo/commands/archive/get.go
  cmd/argo/commands/archive/list.go
  cmd/argo/commands/client/conn.go
  cmd/argo/commands/common.go
  cmd/argo/commands/template/common.go
  cmd/server/auth/gatekeeper.go
  test/e2e/argo_server_test.go
  test/e2e/cli_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/env.go
  test/e2e/fixtures/util.go
  test/e2e/manifests/postgres.yaml
  test/e2e/manifests/postgres/overlays/argo-server-deployment.yaml
  ui/src/app/shared/services/requests.ts
  util/kubeconfig/kubeconfig.go
  util/kubeconfig/kubeconfig_test.go
  util/kubeconfig/token.go
  util/kubeconfig/token_test.go
Labels: argo-server, enhancement, security

#1974 feat: Add version to offload nodes. Fixes #1944 and #1946
  api/openapi-spec/swagger.json
  cmd/server/apiserver/argoserver.go
  cmd/server/artifacts/artifact_server.go
  cmd/server/workflow/workflow.swagger.json
  cmd/server/workflow/workflow_server.go
  cmd/server/workflow/workflow_server_test.go
  cmd/server/workflowarchive/archived_workflow_server.go
  cmd/server/workflowarchive/workflow-archive.swagger.json
  docs/workflow-controller-configmap.yaml
  persist/sqldb/ansi_sql_change.go
  persist/sqldb/backfill_cluster_name.go
  persist/sqldb/backfill_nodes.go
  persist/sqldb/explosive_offload_node_status_repo.go
  persist/sqldb/mappers.go
  persist/sqldb/migrate.go
  persist/sqldb/mocks/DBRepository.go
  persist/sqldb/mocks/OffloadNodeStatusRepo.go
  persist/sqldb/null_workflow_archive.go
  persist/sqldb/offload_node_status_repo.go
  persist/sqldb/offload_node_status_repo_test.go
  persist/sqldb/sqldb.go
  persist/sqldb/workflow_archive.go
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  test/e2e/README.md
  test/e2e/argo_server_test.go
  test/e2e/cli_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/given.go
  test/e2e/fixtures/persistence.go
  test/e2e/fixtures/then.go
  test/e2e/fixtures/when.go
  test/e2e/manifests/postgres.yaml
  test/e2e/manifests/postgres/overlays/argo-server-deployment.yaml
  test/e2e/manifests/postgres/overlays/workflow-controller-deployment.yaml
  util/kubeconfig/token_test.go
  workflow/config/config.go
  workflow/controller/config_controller.go
  workflow/controller/controller.go
  workflow/controller/operator.go
  workflow/controller/operator_persist_test.go
Labels: argo-server

#2029 fix: Redirect to correct page when using managed namespace. Fixes #2015
  ui/src/app/app.tsx
  ui/src/app/archived-workflows/components/archived-workflow-container.tsx
  ui/src/app/archived-workflows/components/archived-workflow-list/archived-workflow-list.tsx
  ui/src/app/cron-workflows/components/cron-workflow-container.tsx
  ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx
  ui/src/app/shared/components/base-page.tsx
  ui/src/app/shared/components/namespace-filter.tsx
  ui/src/app/workflow-templates/components/workflow-template-container.tsx
  ui/src/app/workflow-templates/components/workflow-template-list/workflow-template-list.tsx
  ui/src/app/workflows/components/workflows-container.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: argo-server

#2033 fix(api): Change `CronWorkflowName` to `Name`. Fixes #1982
  cmd/server/cronworkflow/cron-workflow.pb.go
  cmd/server/cronworkflow/cron-workflow.pb.gw.go
  cmd/server/cronworkflow/cron-workflow.proto
  cmd/server/cronworkflow/cron-workflow.swagger.json
  cmd/server/cronworkflow/cron_workflow_server.go
  cmd/server/cronworkflow/cron_workflow_server_test.go
Labels: argo-server

#2092 feat(server): Restart server when config changes. Fixes #2090
  cmd/argo/commands/server.go
  server/apiserver/argoserver.go
Labels: argo-server
