Repository argoproj/argo-workflows, pull requests merged in 2023-09, with the labels that each got.

#11624 docs(cli): a stopped workflow cannot be resumed
  cmd/argo/commands/resume.go
  cmd/argo/commands/suspend.go
  docs/cli/argo.md
  docs/cli/argo_resume.md
  docs/cli/argo_suspend.md
Labels: area/cli

#11711 fix(ui): don't reload the page until _after_ deletion
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui

#11731 docs: Add some more info to the Scaling Doc
  .spelling
  docs/scaling.md
Labels: area/docs

#11739 fix(ui): don't use anti-pattern in CheckboxFilter
  ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx
  ui/src/app/shared/components/checkbox-filter/checkbox-filter.tsx
Labels: area/ui

#11646 feat: Set a max recursion depth limit
  docs/environment-variables.md
  docs/scaling.md
  util/help/topics.go
  workflow/controller/config.go
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/controller/dag.go
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/controller/steps.go
Labels: area/controller

#11569 fix: Argo DB init conflict when deploy workflow-controller with multiple replicas #11177
  workflow/controller/config.go
  workflow/controller/controller.go
Labels: area/controller

#11745 ci: bump `lint` timeout to 15 minutes
  .github/workflows/ci-build.yaml
Labels: area/build

#11732 docs: Add description about img in artifact-visualization.md
  docs/artifact-visualization.md
  docs/assets/artifact-visualization-demo.png
Labels: area/docs

#11760 chore: Update workflow controller initDB func
  workflow/controller/config.go
Labels: area/controller

#11766 fix(ui): don't use `Buffer` for FNV hash
  ui/src/app/shared/pod-name.test.ts
  ui/src/app/shared/pod-name.ts
Labels: area/ui

#11753 ci: reduce test & CI flakes with retries + longer waits & timeouts
  .github/workflows/ci-build.yaml
  hack/recurl.sh
  test/e2e/agent_test.go
  test/e2e/signals_test.go
Labels: area/build

#11722 fix: Correct limit in WorkflowTaskResultInformer List API calls. Fixes #11607
  workflow/controller/taskresult.go
Labels: area/controller

#11774 feat: filter sso groups based on regex
  config/sso.go
  server/auth/sso/sso.go
Labels: area/sso-rbac

#11782 ci: Bump checkout from v3 to v4
  .github/workflows/changelog.yaml
  .github/workflows/ci-build.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/release.yaml
  .github/workflows/sdks.yaml
  .github/workflows/snyk.yml
Labels: dependencies, github_actions, area/build

#11754 ci: Remove redundant go cache restore
  .github/workflows/release.yaml
Labels: area/build

#11787 docs: Update to use markdownlint compatible markdown contents
  .github/ISSUE_TEMPLATE/enhancement_proposal.md
  .github/ISSUE_TEMPLATE/mentoring_request.md
  .github/pull_request_template.md
  CODEOWNERS
  CONTRIBUTING.md
  README.md
  SECURITY.md
  USERS.md
  docs/CONTRIBUTING.md
  examples/README.md
  manifests/README.md
  sdks/CONTRIBUTING.md
Labels: area/docs

#11792 fix(ui): handle `undefined` dates in Workflows List filter
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: area/ui

#11762 docs: Remove helm installation guide and Add helm documentation link
  docs/configure-artifact-repository.md
Labels: area/docs

#11778 feat: document usage of `filterGroupsRegex`
  docs/argo-server-sso.md
Labels: area/docs

#11755 docs: modify demo image in intermediate-inputs.md
  docs/assets/intermediate-inputs.png
  docs/intermediate-inputs.md
Labels: area/docs

#11761 fix: apply custom cursor pagination where workflows and archived workflows are merged
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
Labels: area/api, area/server

#11763 feat: Add user info to suspended node when resuming
  test/e2e/cli_test.go
  workflow/creator/creator.go
  workflow/creator/creator_test.go
  workflow/util/util.go
  workflow/util/util_test.go
Labels: area/suspend-resume

#11798 feat: Support keyFormat for Artifactory
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/fields.md
  manifests/base/crds/full/argoproj.io_workflows.yaml
  pkg/apis/workflow/v1alpha1/artifact_repository_types.go
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactoryArtifactRepository.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1GCSArtifactRepository.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1OSSArtifactRepository.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1S3ArtifactRepository.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifactory_artifact_repository.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_gcs_artifact_repository.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_oss_artifact_repository.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_s3_artifact_repository.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactoryArtifactRepository.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1GCSArtifactRepository.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1OSSArtifactRepository.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1S3ArtifactRepository.md
  sdks/python/client/docs/WorkflowServiceApi.md
Labels: area/artifacts

#11797 docs: Add links to Distributed ML Patterns book
  docs/use-cases/data-processing.md
  docs/use-cases/machine-learning.md
Labels: area/docs

#11805 docs: Remove mentoring related docs and issue template
  .github/ISSUE_TEMPLATE/mentoring_request.md
  .github/stale.yml
  docs/CONTRIBUTING.md
  docs/mentoring.md
  mkdocs.yml
Labels: area/docs

#11751 docs: Add more readable argo CLI installation guide. Fixes #11750
  docs/quick-start.md
  docs/walk-through/argo-cli.md
Labels: area/cli, area/docs

#11735 docs: Add installation option description
  docs/installation.md
  docs/managed-namespace.md
Labels: area/docs

#11712 docs: update style guidelines for documentation contributions
  .spelling
  docs/doc-changes.md
Labels: area/docs

#11713 docs: link to Installation instead of `manifests/README.md`
  docs/public-api.md
Labels: area/docs

#11742 fix(ui): merge WF List FTU Panel with New Version Modal
  ui/src/app/modals/new-version/new-version-modal.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: area/ui

#11820 docs: Fix links to community survey results
  README.md
  USERS.md
Labels: area/docs

#11803 refactor(ui): workflow panel components from class to functional
  ui/src/app/workflows/components/resubmit-workflow-panel.tsx
  ui/src/app/workflows/components/retry-workflow-panel.tsx
  ui/src/app/workflows/components/submit-workflow-panel.tsx
Labels: area/ui

#11781 fix: Fixed workflow template skip whitespaced parameters. Fixes #11767
  workflow/validate/validate.go
  workflow/validate/validate_test.go
Labels: area/templating

#11791 refactor(ui): migrate several components from class to functional
  ui/src/app/shared/components/error-panel.tsx
  ui/src/app/shared/components/inline-table/inline-table.tsx
  ui/src/app/shared/components/nudge.tsx
  ui/src/app/shared/components/pagination-panel.tsx
  ui/src/app/shared/conditions-panel.tsx
  ui/src/app/shared/resources-duration.tsx
  ui/src/app/workflow-templates/components/workflow-template-creator.tsx
  ui/src/app/workflow-templates/components/workflow-template-details/workflow-template-details.tsx
  ui/src/app/workflow-templates/components/workflow-template-editor.tsx
  ui/src/app/workflow-templates/components/workflow-template-filters/workflow-template-filters.tsx
  ui/src/app/workflow-templates/components/workflow-template-list/workflow-template-list.tsx
  ui/src/app/workflows/components/events-panel.tsx
  ui/src/app/workflows/components/workflow-artifacts.tsx
  ui/src/app/workflows/components/workflow-creator-info/workflow-creator-info.tsx
  ui/src/app/workflows/components/workflow-creator.tsx
  ui/src/app/workflows/components/workflow-dag/workflow-dag-render-options-panel.tsx
  ui/src/app/workflows/components/workflow-editor.tsx
  ui/src/app/workflows/components/workflow-from.tsx
  ui/src/app/workflows/components/workflow-labels/workflow-labels.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/full-height-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/json-logs-field-selector.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  ui/src/app/workflows/components/workflow-panel/workflow-panel.tsx
  ui/src/app/workflows/components/workflow-yaml-viewer/workflow-yaml-viewer.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
  ui/src/app/workflows/components/workflows-summary-container/workflows-summary-container.tsx
Labels: area/ui

#11684 feat: Search by name for WorkflowTemplates in UI
  api/openapi-spec/swagger.json
  pkg/apiclient/workflowtemplate/workflow-template.pb.go
  pkg/apiclient/workflowtemplate/workflow-template.proto
  sdks/java/client/docs/WorkflowTemplateServiceApi.md
  sdks/python/client/argo_workflows/api/workflow_template_service_api.py
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  server/workflowtemplate/workflow_template_server.go
  ui/src/app/shared/services/workflow-template-service.ts
  ui/src/app/shared/utils.ts
  ui/src/app/workflow-templates/components/workflow-template-filters/workflow-template-filters.tsx
  ui/src/app/workflow-templates/components/workflow-template-list/workflow-template-list.tsx
Labels: area/api, area/ui

#11823 feat: Support artifact streaming for HTTP/Artifactory artifact driver
  workflow/artifacts/http/http.go
Labels: area/artifacts

#11819 docs: the serviceMonitor selector is incorrect
  docs/metrics.md
Labels: area/docs

#11836 chore: Remove stale bot
  .github/stale.yml
Labels: area/build

#11840 fix: use same date filter in the UI and CLI
  cmd/argo/commands/delete.go
  cmd/argo/commands/list.go
  cmd/argo/commands/list_test.go
  ui/src/app/shared/utils.ts
  ui/src/app/workflows/components/workflow-filters/workflow-filters.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: area/ui, area/cli

#11800 refactor(ui): convert a few components to use hooks
  ui/src/app/shared/components/resource-editor/resource-editor.tsx
  ui/src/app/shared/components/tags-input/tags-input.tsx
  ui/src/app/workflows/components/workflow-drawer/workflow-drawer.tsx
Labels: area/ui

#11847 fix: when key not present assume NodeRunning. Fixes 11843
  workflow/controller/dag.go
Labels: area/controller, area/templates/dag

#11841 docs: add hint for limiting the number of wfs
  docs/cost-optimisation.md
Labels: area/docs, area/cron-workflows

#11793 refactor(ui): migrate `UserInfo` to functional component
  ui/src/app/shared/components/base-page.tsx
  ui/src/app/userinfo/components/user-info.tsx
Labels: area/ui

#11811 feat: show history about completed runs in each cron workflow
  ui/src/app/cron-workflows/components/cron-workflow-details/cron-workflow-details.scss
  ui/src/app/cron-workflows/components/cron-workflow-details/cron-workflow-details.tsx
Labels: area/ui

#11863 docs: Add notes on artifact streaming
  docs/configure-artifact-repository.md
Labels: area/docs, area/artifacts

#11881 ci: temporal workaround for flakiness of TestStopBehavior
  test/e2e/functional/stop-terminate.yaml
Labels: area/build

#11883 fix: Fixed running multiple workflows with mutex and memo concurrently is broken
  workflow/controller/operator.go
Labels: area/mutex-semaphore, area/memoization

#11864 docs: CVE fixes are not included in upgrading guide
  docs/releases.md
Labels: area/docs

#11865 docs: Add K8s compatibility for v3.5 release
  docs/releases.md
Labels: area/docs

#11882 refactor(ui): use async/await in several components
  ui/src/app/cluster-workflow-templates/components/cluster-workflow-template-details/cluster-workflow-template-details.tsx
  ui/src/app/cluster-workflow-templates/components/cluster-workflow-template-list/cluster-workflow-template-list.tsx
  ui/src/app/event-sources/components/event-source-details/event-source-details.tsx
  ui/src/app/shared/components/use-collect-event.ts
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui

#11897 docs: Add OpenSSF Scorecard status badge to README.md
  README.md
Labels: area/docs

#11895 docs: Remove CI status badge from README.md
  README.md
  docs/README.md
Labels: area/docs

#11752 ci: better naming for various steps/jobs
  .github/workflows/changelog.yaml
  .github/workflows/ci-build.yaml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/docs.yaml
  .github/workflows/pr.yaml
  .github/workflows/sdks.yaml
  .github/workflows/snyk.yml
Labels: area/build

#11899 refactor(ui): InputFilter and WorkflowTimeline components from class to functional
  ui/src/app/shared/components/input-filter.tsx
  ui/src/app/workflows/components/workflow-timeline/workflow-timeline.tsx
Labels: area/ui

#11894 refactor(ui): convert ParametersInput to functional components
  ui/src/app/shared/components/parameters-input/parameters-input.tsx
Labels: area/ui

#11743 refactor(ui): optimize Link functionality
  ui/src/app/shared/components/links.test.ts
  ui/src/app/shared/components/links.tsx
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui

#11907 fix(ui): use `popup.confirm` instead of browser `confirm`
  ui/src/app/shared/workflow-operations-map.tsx
  ui/src/app/workflows/components/workflows-toolbar/workflows-toolbar.tsx
Labels: area/ui
