Repository argoproj/argo-workflows, pull requests merged in 2023-11, with the labels that each got.

#12097 refactor(ui): replace `moment-timezone` with native `Intl`
  ui/package.json
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
  ui/yarn.lock
Labels: dependencies, area/ui, javascript

#12170 fix(ui): Cost Opt should only apply to live Workflows
  docs/cost-optimisation.md
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/src/models/workflows.ts
Labels: area/ui, area/docs

#12171 docs: add aws plugin to executor plugin directory
  .spelling
  docs/plugin-directory.md
Labels: area/docs, area/plugins

#11947 fix: ArtifactGC Fails for Stopped Workflows. Fixes #11879
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  cmd/argoexec/commands/root.go
  cmd/argoexec/commands/wait.go
  docs/fields.md
  manifests/base/crds/full/argoproj.io_workflows.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1WorkflowStatus.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_workflow_status.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1WorkflowStatus.md
  sdks/python/client/docs/WorkflowServiceApi.md
  test/e2e/agent_test.go
  test/e2e/artifacts_test.go
  test/e2e/cli_test.go
  test/e2e/cron_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/when.go
  test/e2e/functional_test.go
  test/e2e/progress_test.go
  test/e2e/retry_test.go
  test/e2e/semaphore_test.go
  test/e2e/signals_test.go
  test/e2e/testdata/artifactgc/artgc-dag-wf-stopped-pod-gc-on-pod-completion.yaml
  test/e2e/testdata/artifactgc/artgc-dag-wf-stopped.yaml
  test/e2e/workflow_test.go
  workflow/common/common.go
  workflow/controller/artifact_gc.go
  workflow/controller/operator.go
  workflow/controller/taskresult.go
  workflow/controller/workflowpod.go
  workflow/executor/data.go
  workflow/executor/executor.go
  workflow/executor/executor_test.go
  workflow/executor/resource.go
  workflow/executor/taskresult.go
  workflow/metrics/metrics_test.go
Labels: area/artifacts

#12145 fix(server): allow passing loglevels as env vars to Server
  cmd/argo/commands/root.go
  cmd/argo/commands/server.go
  cmd/workflow-controller/main.go
Labels: area/cli, area/server

#12148 docs: full copy-edit of `environment-variables.md`
  docs/environment-variables.md
Labels: area/docs

#12201 fix: Revert "fix: regression in memoization without outputs (#12130)"
  workflow/controller/dag.go
  workflow/controller/steps.go
Labels: area/controller, area/memoization

#12203 fix: Fix for missing steps in the UI
  workflow/controller/dag.go
  workflow/controller/steps.go
Labels: area/controller

#12172 fix(ui): missing `uiUrl` in `ArchivedWorkflowsList`
  ui/src/app/archived-workflows/components/archived-workflow-list/archived-workflow-list.tsx
Labels: area/ui

#12150 refactor(ui): code-split gigantic Monaco Editor dep
  ui/src/app/apidocs/components/apiDocs.tsx
  ui/src/app/reports/components/report-container.tsx
  ui/src/app/shared/components/object-editor/object-editor.tsx
  ui/src/app/shared/components/suspense-monaco-editor.tsx
  ui/src/app/workflows/components/workflow-details/artifact-panel.tsx
Labels: area/ui, area/build

#12098 refactor(ui): consistent imports: `React.use` -> `use`
  ui/src/app/shared/components/data-loader-dropdown.tsx
  ui/src/app/shared/components/editors/key-value-editor.tsx
  ui/src/app/shared/components/graph/graph-panel.tsx
  ui/src/app/workflows/components/workflow-details/suspend-inputs.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/full-height-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/json-logs-field-selector.tsx
Labels: area/ui

#11980 docs(cli): correct headings in `argo` command's `Long` description
  cmd/argo/commands/root.go
  docs/cli/argo.md
Labels: area/cli, area/docs

#11934 docs: Clarify the approach to release candidates
  .spelling
  docs/releases.md
Labels: area/docs

#12244 docs: Update killercoda url
  docs/training.md
Labels: area/docs

#12290 chore(deps): upgrade `prettier` from v1.x to v3+
  ui/.prettierrc
  ui/package.json
  ui/src/app/cluster-workflow-templates/components/cluster-workflow-template-creator.tsx
  ui/src/app/cron-workflows/components/cron-workflow-creator.tsx
  ui/src/app/event-flow/components/event-flow-details/event-flow-page.tsx
  ui/src/app/event-sources/components/event-source-creator.tsx
  ui/src/app/sensors/components/sensor-creator.tsx
  ui/src/app/shared/artifacts.ts
  ui/src/app/shared/components/editors/workflow-parameters-editor.tsx
  ui/src/app/shared/cron.tsx
  ui/src/app/shared/services/workflows-service.ts
  ui/src/app/workflow-templates/components/workflow-template-creator.tsx
  ui/src/app/workflows/components/workflow-creator.tsx
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/yarn.lock
Labels: dependencies, area/ui, javascript
