Repository argoproj/argo-workflows, pull requests merged in 2023-10, with the labels that each got.

#11891 refactor(ui): convert `WorkflowsList` + `WorkflowsFilter` to functional components
  ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx
  ui/src/app/reports/components/reports.tsx
  ui/src/app/shared/components/base-page.tsx
  ui/src/app/shared/components/query.tsx
  ui/src/app/shared/components/tags-input/tags-input.tsx
  ui/src/app/shared/history.ts
  ui/src/app/userinfo/components/user-info.tsx
  ui/src/app/workflow-templates/components/workflow-template-list/workflow-template-list.tsx
  ui/src/app/workflows/components/workflow-filters/workflow-filters.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/src/models/workflows.ts
Labels: area/ui

#11932 docs: Updated And Improved Workflow Controller Architecture Image
  docs/assets/workflow-controller-queue.png
Labels: area/docs

#11908 fix(ui): ensure `WorkflowsRow` message is not too long
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
Labels: area/ui

#11937 docs: add missing quote
  ui/src/app/workflow-event-bindings/components/workflow-event-bindings/workflow-event-bindings.tsx
Labels: area/ui

#11946 fix(ui): `ClipboardText` tooltip properly positioned
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.scss
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
Labels: area/ui

#11967 chore: Use same text for Sensors and Event Source
  ui/src/app/event-sources/components/event-source-list/event-source-list.tsx
Labels: area/ui

#11971 fix: Replace antonmedv/expr with expr-lang/expr
  go.mod
  go.sum
Labels: dependencies, go

#11942 docs: specify where `activeDeadlineSeconds` can be set
  docs/walk-through/timeouts.md
Labels: area/docs

#11974 docs: fix anchor for real-time-metrics
  docs/metrics.md
Labels: area/docs

#11982 fix(ui): remove "last month" default date filter mention from New Version Modal
  ui/src/app/modals/new-version/new-version-modal.tsx
Labels: area/ui

#11981 build: fix GH Codespaces building indefinitely
  .devcontainer/devcontainer.json
  .spelling
  docs/running-locally.md
Labels: area/docs, area/build

#11736 fix: Permit enums w/o values. Fixes #11471.
  workflow/validate/validate.go
  workflow/validate/validate_test.go
Labels: stale

#11901 refactor(ui): converting a drop-down component to a functional component
  ui/src/app/shared/components/dropdown/dropdown.tsx
  ui/src/app/shared/components/filter-drop-down.tsx
Labels: area/ui

#11979 fix(ui): don't show pagination warning on first page if all are displayed
  ui/src/app/shared/components/pagination-panel.tsx
Labels: area/ui

#11839 fix: retry only proper node (#11589)
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/fields.md
  manifests/base/crds/full/argoproj.io_workflows.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1NodeFlag.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1NodeStatus.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_node_flag.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_node_status.py
  sdks/python/client/argo_workflows/models/__init__.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1NodeFlag.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1NodeStatus.md
  sdks/python/client/docs/WorkflowServiceApi.md
  test/e2e/hooks_test.go
  test/e2e/retry_test.go
  workflow/controller/container_set_template.go
  workflow/controller/dag.go
  workflow/controller/dag_test.go
  workflow/controller/exit_handler.go
  workflow/controller/hooks.go
  workflow/controller/hooks_test.go
  workflow/controller/http_template.go
  workflow/controller/operator.go
  workflow/controller/operator_metrics_test.go
  workflow/controller/operator_test.go
  workflow/controller/plugin_template.go
  workflow/controller/steps.go
Labels: area/hooks

#12014 docs: Correct some mistake in docs.
  docs/async-pattern.md
  docs/cluster-workflow-templates.md
  docs/workflow-inputs.md
  docs/workflow-templates.md
Labels: area/docs

#12015 fix: Fix the Maximum Recursion Depth prompt link in the CLI.
  util/help/topics.go
Labels: area/cli, area/docs

#11744 docs: replace duplicate Expression docs with a link
  docs/conditional-artifacts-parameters.md
Labels: area/docs

#11662 fix: remove WorkflowSpec VolumeClaimTemplates patch key
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/controller_test.go
Labels: area/spec

#11978 build: fix `ARGO_LOG_LEVEL` -> `ARGO_LOGLEVEL`
  Makefile
  tasks.yaml
Labels: area/build

#12011 ci: add windows unit test run. Fixes #11994
  .github/workflows/ci-build.yaml
  cmd/argo/commands/lint_test.go
  cmd/argo/lint/formatter_pretty_test.go
  cmd/argo/lint/lint_test.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/workflow_types_test.go
  util/archive/archive_test.go
  workflow/artifacts/common/load_to_stream_test.go
  workflow/common/ancestry_test.go
  workflow/executor/executor_test.go
  workflow/executor/os-specific/command_test.go
  workflow/executor/resource_test.go
  workflow/metrics/server_test.go
  workflow/util/util_test.go
Labels: area/build

#11714 docs(auth): clarify "Bearer token" terminology
  docs/faq.md
Labels: area/docs

#12034 ci: also skip windows unit test runs based on diff
  .github/workflows/ci-build.yaml
Labels: area/build

#12035 ci: ensure least privilege permissions for GHA tokens
  .github/workflows/changelog.yaml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/docs.yaml
  .github/workflows/pr.yaml
Labels: security, area/build

#11817 docs: improve grammar + wording on Managed NS install
  .spelling
  docs/managed-namespace.md
Labels: area/docs

#12042 docs: correct link to k8s docs for manually creating Secrets
  docs/manually-create-secrets.md
Labels: area/docs

#12036 chore(deps): automatically `audit fix` UI deps
  ui/yarn.lock
Labels: dependencies, javascript

#11807 docs: clarify + improve Workflow Restrictions page
  .spelling
  docs/workflow-restrictions.md
Labels: area/docs

#12040 chore: Add script to auto cherry-pick commits for patch release
  docs/releasing.md
  hack/cherry-pick.sh
  hack/what-to-cherry-pick.sh
Labels: area/docs, area/build

#11943 docs: full copy-edit of DAG page
  .spelling
  docs/doc-changes.md
  docs/walk-through/dag.md
Labels: area/docs

#12032 docs: add FOSSA License Badge for CLOMonitor
  README.md
Labels: area/docs

#12060 fix(ui): remove accidentally rendered semi-colon
  ui/src/app/cron-workflows/components/cron-workflow-details/cron-workflow-details.tsx
  ui/src/app/reports/components/reports.tsx
Labels: area/ui

#12058 chore(deps): upgrade `swagger-ui-react` to latest 4.x.x
  ui/package.json
  ui/yarn.lock
Labels: security, dependencies, area/ui, javascript

#12061 build(ui): code-split `ApiDocs` and `Reports` components
  ui/src/app/apidocs/components/apiDocs.tsx
  ui/src/app/cron-workflows/components/pretty-schedule.tsx
  ui/src/app/cron-workflows/components/schedule-validator.tsx
  ui/src/app/event-flow/components/event-flow-details/event-flow-page.tsx
  ui/src/app/reports/components/report-container.tsx
  ui/src/app/reports/components/reports.tsx
  ui/src/app/shared/components/chat-button.tsx
  ui/src/app/shared/components/links.tsx
  ui/src/app/shared/components/object-parser.ts
  ui/src/app/shared/cron.tsx
  ui/src/app/tsconfig.json
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
Labels: area/ui, area/build

#12069 ci: Speed up tests on Windows build
  .github/workflows/ci-build.yaml
Labels: area/build

#12068 fix: Revert #11761 to avoid argo-server performance issue
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
Labels: area/api, area/server

#12083 fix: conflicting type of "workflow" logging attribute
  workflow/controller/controller.go
Labels: area/controller

#12084 fix: oss list bucket return all records
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#12076 docs: Add an example field to argo list command. Fixes #11898
  cmd/argo/commands/list.go
  docs/cli/argo_list.md
Labels: area/cli, area/docs

#12111 fix: Upgrade axios to v1.6.0. Fixes #12085
  ui/yarn.lock
Labels: security, dependencies, javascript

#12114 chore: fix spelling error for e2e/functional test
  test/e2e/functional/workflow_template_level_host_aliases.yaml
Labels: area/build

#12101 docs: Add an example field to argo cluster-template create command. Fixes #11898
  cmd/argo/commands/clustertemplate/create.go
  docs/cli/argo_cluster-template_create.md
Labels: area/cli, area/docs
