Repository argoproj/argo-workflows, pull requests merged in 2023-12, with the labels that each got.

#12146 refactor: invert conditionals for less nesting in `includeScriptOutput`
  workflow/controller/operator.go
Labels: area/controller

#12192 fix: ensure wftmplLifecycleHook wait for each dag task
  workflow/common/util.go
  workflow/controller/dag.go
  workflow/controller/dag_test.go
  workflow/controller/operator.go
  workflow/controller/testdata/dag_wftmpl_hook_with_retry.yaml
Labels: area/hooks, area/templates/dag

#11857 feat: add default metric of argo_pod_missing
  workflow/controller/operator.go
Labels: area/metrics

#11927 feat: add retry count value of custom metric
  docs/variables.md
  workflow/controller/steps.go
Labels: area/metrics

#12199 feat(server): Support supplying a list of headers when keying IPs for rate limiting
  .spelling
  docs/environment-variables.md
  server/apiserver/argoserver.go
Labels: area/docs, area/server

#12394 docs: Fix incorrect link in edit button
  mkdocs.yml
Labels: area/docs, area/build

#12417 docs: Add link to Killercoda interactive course in docs/README.md
  docs/README.md
Labels: area/docs

#10553 feat: Allow markdown in workflow title and description. Fixes #10126
  docs/assets/workflow-title-and-description.png
  docs/fields.md
  docs/title-and-description.md
  examples/title-and-descriptin-with-markdown.yaml
  mkdocs.yml
  ui/package.json
  ui/src/app/workflows/components/workflows-row/workflows-row-name.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row.scss
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
  ui/yarn.lock
Labels: enhancement, dependencies, area/ui, javascript

#12421 fix: custom columns not supporting annotations
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
Labels: area/ui, area/docs
