Repository argoproj/argo-workflows, pull requests merged in 2024-02, with the labels that each got.

#12531 docs: Additional badges
  README.md
Labels: area/docs

#12514 refactor(ui): use `import type` syntax where possible
  ui/src/app/shared/components/suspense-monaco-editor.tsx
  ui/src/app/shared/workflow-operations-map.tsx
  ui/src/app/widgets/workflow-status-badge.tsx
  ui/src/models/index.ts
Labels: area/ui, prioritized-review

#12596 fix: make the process of patching pods exclusive
  workflow/controller/controller.go
  workflow/controller/controller_test.go
Labels: area/controller, area/build

#12619 ci: pin all GH Actions
  .github/workflows/changelog.yaml
  .github/workflows/ci-build.yaml
  .github/workflows/dependabot-reviewer.yml
  .github/workflows/docs.yaml
  .github/workflows/pr.yaml
  .github/workflows/release.yaml
  .github/workflows/sdks.yaml
  .github/workflows/snyk.yml
  .github/workflows/stale.yaml
Labels: security, dependencies, github_actions, area/build

#12463 refactor(build): simplify `mkdocs build` scripts
  .github/workflows/ci-build.yaml
  Makefile
  hack/check-mkdocs.sh
Labels: area/docs, area/build

#12480 build(ui): remove no longer needed `--openssl-legacy-provider`
  Dockerfile
  ui/package.json
Labels: security, area/ui, area/build

#12492 fix(resources): improve ressource accounting. Fixes #12468
  util/resource/duration_test.go
  util/resource/summary.go
Labels: area/metrics

#12522 build(docs): don't install NPM global deps if they're already installed
  Makefile
Labels: area/docs, area/build

#12561 docs(install): use material admonition instead of unicode caution
  docs/installation.md
Labels: area/docs

#12502 docs: add unicode char next to external links in header/ToC
  mkdocs.yml
Labels: area/docs

#12607 docs: add Releases to Sustainability hours
  community/sustainability_effort.md
  docs/CONTRIBUTING.md
Labels: area/docs

#12635 chore(deps): fixed medium CVE in github.com/docker/docker v24.0.0+incompatible
  go.mod
  go.sum
Labels: dependencies, go

#12612 ci: add `mkdocs` Python deps to dependabot security updates
  .github/dependabot.yml
Labels: security, dependencies, area/docs, area/build

#12617 docs: consolidate expression links
  docs/argo-server-sso.md
  docs/data-sourcing-and-transformation.md
  docs/events.md
  docs/retries.md
  docs/variables.md
Labels: area/docs, area/templating

#12622 fix: controller option to not watch configmap
  .spelling
  docs/environment-variables.md
  workflow/controller/controller.go
Labels: workaround, area/controller

#12518 docs: update SwaggerUI version
  .github/pull_request_template.md
  Makefile
  docs/swagger.md
Labels: dependencies, area/docs, javascript

#12618 ci: migrate to Codecov GH Action
  .github/workflows/ci-build.yaml
Labels: security, dependencies, github_actions, area/build

#12654 fix(docs): remove `workflow-controller-configmap.yaml` self reference
  docs/workflow-controller-configmap.yaml
Labels: area/docs, prioritized-review

#12643 docs: some updates to Sustainability Effort policies
  community/sustainability_effort.md
Labels: area/contributing

#12610 chore(controller): remove a Go 1.15 env var that no longer exists
  workflow/controller/workflowpod.go
Labels: area/controller, area/executor

#12652 fix(build): check for env vars in all dirs
  cmd/argo/commands/client/conn.go
  cmd/argo/commands/server.go
  docs/cli/argo.md
  docs/cli/argo_archive.md
  docs/cli/argo_archive_delete.md
  docs/cli/argo_archive_get.md
  docs/cli/argo_archive_list-label-keys.md
  docs/cli/argo_archive_list-label-values.md
  docs/cli/argo_archive_list.md
  docs/cli/argo_archive_resubmit.md
  docs/cli/argo_archive_retry.md
  docs/cli/argo_auth.md
  docs/cli/argo_auth_token.md
  docs/cli/argo_cluster-template.md
  docs/cli/argo_cluster-template_create.md
  docs/cli/argo_cluster-template_delete.md
  docs/cli/argo_cluster-template_get.md
  docs/cli/argo_cluster-template_lint.md
  docs/cli/argo_cluster-template_list.md
  docs/cli/argo_completion.md
  docs/cli/argo_cp.md
  docs/cli/argo_cron.md
  docs/cli/argo_cron_create.md
  docs/cli/argo_cron_delete.md
  docs/cli/argo_cron_get.md
  docs/cli/argo_cron_lint.md
  docs/cli/argo_cron_list.md
  docs/cli/argo_cron_resume.md
  docs/cli/argo_cron_suspend.md
  docs/cli/argo_delete.md
  docs/cli/argo_executor-plugin.md
  docs/cli/argo_executor-plugin_build.md
  docs/cli/argo_get.md
  docs/cli/argo_lint.md
  docs/cli/argo_list.md
  docs/cli/argo_logs.md
  docs/cli/argo_node.md
  docs/cli/argo_resubmit.md
  docs/cli/argo_resume.md
  docs/cli/argo_retry.md
  docs/cli/argo_server.md
  docs/cli/argo_stop.md
  docs/cli/argo_submit.md
  docs/cli/argo_suspend.md
  docs/cli/argo_template.md
  docs/cli/argo_template_create.md
  docs/cli/argo_template_delete.md
  docs/cli/argo_template_get.md
  docs/cli/argo_template_lint.md
  docs/cli/argo_template_list.md
  docs/cli/argo_terminate.md
  docs/cli/argo_version.md
  docs/cli/argo_wait.md
  docs/cli/argo_watch.md
  docs/environment-variables.md
  hack/check-env-doc.sh
Labels: area/docs, area/build, area/server, prioritized-review

#12637 fix: retry node with expression status Running -> Pending
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller

#12666 fix(controller): add missing namespace index from workflow informer
  workflow/controller/controller.go
Labels: area/controller

#12581 docs: consistently use "> v{version} and after"
  .spelling
  docs/argo-server-sso.md
  docs/artifact-visualization.md
  docs/cluster-workflow-templates.md
  docs/executor_plugins.md
  docs/high-availability.md
  docs/resource-template.md
  docs/scaling.md
  docs/suspend-template.md
  docs/variables.md
  docs/workflow-events.md
  docs/workflow-templates.md
Labels: area/docs

#12609 fix(controller): re-allow changing executor `args`
  workflow/controller/workflowpod.go
  workflow/controller/workflowpod_test.go
Labels: area/controller, area/executor

#12557 build(manifests): `quick-start` should use `cluster-install`
  .github/workflows/ci-build.yaml
  docs/quick-start.md
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  manifests/quick-start/base/kustomization.yaml
  manifests/quick-start/base/overlays/argo-server-deployment.yaml
Labels: area/docs, area/build, area/manifests

#12672 fix(ui): `ListWatch` should not _both_ set and depend on `nextOffset`
  ui/src/app/shared/components/pagination-panel.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: area/ui, prioritized-review

#12620 fix: Patch taskset with subresources to delete completed node status.…
  test/e2e/executor_plugins_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/given.go
  test/e2e/fixtures/then.go
  test/e2e/fixtures/when.go
  workflow/controller/controller.go
  workflow/controller/taskset.go
  workflow/controller/taskset_test.go
Labels: area/controller, area/plugins, area/retry

#12674 feat: CronWorkflow/WorkflowTemplate title/description in list view
  ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx
  ui/src/app/workflow-templates/components/workflow-template-list/workflow-template-list.tsx
Labels: area/ui, area/cron-workflows

#12678 docs: Add notes on issue assignment in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: area/docs, area/contributing

#12616 feat: allow multiple schedules in a cron workflow
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  cmd/argo/commands/cron/get.go
  cmd/argo/commands/cron/get_test.go
  cmd/argo/commands/cron/list.go
  cmd/argo/commands/cron/util.go
  docs/fields.md
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  pkg/apis/api-rules/violation_exceptions.list
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/cron_workflow_types_test.go
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_cron_workflow_spec.py
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  test/e2e/cli_test.go
  test/e2e/cron/multiple-schedules.yaml
  ui/src/app/cron-workflows/components/cron-workflow-list/cron-workflow-list.tsx
  ui/src/app/cron-workflows/components/cron-workflow-spec-editior.tsx
  ui/src/app/cron-workflows/components/cron-workflow-status-viewer.tsx
  ui/src/models/cron-workflows.ts
  workflow/cron/controller.go
  workflow/cron/cron_facade.go
  workflow/cron/operator.go
  workflow/cron/operator_test.go
  workflow/validate/validate.go
Labels: area/ui, area/cli, area/cron-workflows

#12681 fix: Add limit to number of Workflows in CronWorkflow history
  ui/src/app/cron-workflows/cron-workflow-details.tsx
Labels: area/ui, area/cron-workflows

#12686 docs: remove Workflow RBAC 3.5.2 note and example
  docs/workflow-rbac.md
Labels: area/docs

#12577 docs: add an example for nested `withSequence`
  docs/fields.md
  docs/walk-through/loops.md
  examples/withsequence-nested-result.yaml
Labels: area/docs, area/looping

#12683 fix: find correct retry node when using `templateRef`. Fixes: #12633
  workflow/controller/retry_tweak.go
  workflow/controller/retry_tweak_test.go
Labels: area/workflow-templates, area/retry

#12698 fix: make WF global parameters available in retries
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/templating, area/retry

#12580 fix(ui): code-split markdown title + desc, fix row linking, etc
  ui/src/app/workflows/components/workflows-row/react-markdown-gfm.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row-name.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row.scss
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
Labels: area/ui, area/build, prioritized-review

#12560 docs(quick-start): consolidate UI & port-forward sections
  docs/quick-start.md
Labels: area/docs

#12582 docs(ui): full copy-edit of title & description page
  .spelling
  docs/assets/workflow-title-and-description-markdown-complex.png
  docs/assets/workflow-title-and-description-markdown.png
  docs/assets/workflow-title-and-description.png
  docs/fields.md
  docs/title-and-description.md
  examples/title-and-description-with-markdown.yaml
Labels: area/docs, prioritized-review

#12632 fix: use optimistic concurrency strategy when updating pod status
  workflow/controller/controller.go
  workflow/controller/controller_test.go
Labels: area/controller

#12702 chore(deps): bump prometheus dependencies
  go.mod
  go.sum
  workflow/controller/operator_metrics_test.go
  workflow/metrics/metrics_test.go
Labels: dependencies, go, area/metrics

#12714 fix(hack): various fixes & improvements to cherry-pick script
  docs/releasing.md
  hack/cherry-pick.sh
Labels: area/build, area/contributing
