Repository argoproj/argo-workflows, pull requests merged in 2024-04, with the labels that each got.

#12831 fix: make sure Finalizers has chance to be removed. Fixes: #12836
  test/e2e/fixtures/when.go
  workflow/controller/operator.go
Labels: area/controller, area/artifacts, area/gc

#12835 fix: remove completed taskset status before update workflow. Fixes: #12832
  workflow/controller/operator.go
Labels: area/controller, area/plugins, prioritized-review

#12873 feat(ui): display line numbers in object-editor. Fixes #12807.
  ui/src/app/shared/components/object-editor.tsx
Labels: area/ui

#12747 docs(security): add Draft GHSA option
  SECURITY.md
Labels: type/security, area/contributing

#12809 docs: describe containerset retrystrategy and verify it works. Fixes: #11502
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/container-set-template.md
  docs/executor_swagger.md
  docs/fields.md
  pkg/apis/workflow/v1alpha1/container_set_template_types.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ContainerSetRetryStrategy.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ContainerSetRetryStrategy.md
  test/e2e/retry_test.go
  test/e2e/testdata/workflow-template-with-containerset.yaml
Labels: area/templates/container-set, area/retry

#12882 ci(deps): fix auto deduplication of `yarn.lock` for Dependabot PRs
  .github/workflows/ci-build.yaml
Labels: area/build, prioritized-review

#12881 ci: use `chore(deps)` prefix for dependabot commits
  .github/dependabot.yml
Labels: area/build, prioritized-review

#12889 ci(deps): fix typo in `--allow-empty`
  .github/workflows/ci-build.yaml
Labels: area/build, prioritized-review

#12897 fix: use multipart upload method to put files larger than 5Gi to OSS. Fixes #12877
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#12892 ci(deps): remove auto `yarn-deduplicate` on dependabot PRs
  .github/workflows/ci-build.yaml
Labels: area/build, prioritized-review

#12894 chore(deps): upgrade `mkdocs-material` from 8.2.6 to 9.x
  docs/requirements.txt
Labels: type/security, type/dependencies, prioritized-review, python

#12900 fix(deps): upgrade `crypto` from v0.20 to v0.22. Fixes CVE-2023-42818
  go.mod
  go.sum
Labels: type/security, type/dependencies, go, prioritized-review

#12907 feat: implement Delete func of OSS ArtifactDriver. Fixes #9349
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#12754 build: support local arm64 and amd64 image
  Makefile
  docs/running-locally.md
Labels: area/build, problem/more information needed

#12915 chore: bump github.com/Azure/azure-sdk-for-go/sdk/storage/azblob from 1.2.1 to 1.3.2
  go.mod
  go.sum
Labels: type/dependencies, go, area/artifacts, area/upstream

#12901 fix(deps): upgrade `http2` to v0.24. Fixes CVE-2023-45288
  go.mod
Labels: type/security, type/dependencies, go, prioritized-review

#12921 fix(deps): upgrade `x/net` to v0.23.0. Fixes CVE-2023-45288
  go.mod
  go.sum
Labels: type/security, type/dependencies, go

#12922 ci: Fix test coverage report upload issue
  .github/workflows/ci-build.yaml
Labels: prioritized-review

#12917 refactor: remove unnecessary `AddEventHandler` error handling
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/controller/taskresult.go
  workflow/gccontroller/gc_controller.go
Labels: type/tech-debt, area/controller

#12817 fix: DAG with continueOn in error after retry. Fixes: #11395
  test/e2e/cli_test.go
  test/e2e/testdata/retry-workflow-with-continueon.yaml
  workflow/util/util.go
  workflow/util/util_test.go
Labels: area/retry

#12842 feat: support dynamic templateref naming. Fixes: #10542
  workflow/controller/operator_workflow_template_ref_test.go
  workflow/controller/workflowpod.go
  workflow/validate/validate.go
Labels: area/workflow-templates, area/templating

#12931 fix: change fatal to panic.
  workflow/controller/operator.go
  workflow/controller/steps.go
  workflow/util/util.go
Labels: area/controller, area/retry

#12905 fix: workflows that are retrying should not be deleted (Fixes #12636)
  workflow/gccontroller/gc_controller.go
Labels: area/retry, area/gc

#12935 fix: correct order in artifactGC error log message
  workflow/controller/artifact_gc.go
Labels: area/artifacts, area/gc

#12933 refactor(ui): simplify `hasArtifactLogs` with optional chaining
  ui/src/app/shared/services/workflows-service.ts
Labels: area/ui

#12912 fix: don't load entire archived workflow into memory in list APIs
  persist/sqldb/workflow_archive.go
Labels: area/api, area/workflow-archive

#12939 fix(ui): default to `main` container name in event source logs API call
  ui/src/app/shared/services/event-source-service.ts
Labels: area/ui

#12953 feat(cli): Add `--no-color` support to `argo lint`. Fixes #12913
  cmd/argo/commands/lint.go
  cmd/argo/lint/formatter_pretty.go
  cmd/argo/lint/formatter_pretty_test.go
  docs/cli/argo_lint.md
Labels: area/cli

#12951 chore: clarify `:latest` in bug templates
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/regression.yaml
Labels: prioritized-review, area/contributing

#12932 fix(ui): properly get archive logs when no node was chosen
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
Labels: area/ui, prioritized-review, area/archive-logs

#12898 fix(ui): handle non-existent labels in `isWorkflowInCluster`
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/models/workflows.ts
Labels: area/ui

#12950 fix(ui): use router navigation instead of page load after submit
  ui/src/app/workflows/components/resubmit-workflow-panel.tsx
  ui/src/app/workflows/components/retry-workflow-panel.tsx
  ui/src/app/workflows/components/submit-workflow-panel.tsx
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui

#12930 fix(ui): remove unnecessary hard reload after delete
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui

#12964 refactor: simplify `getPodName` and make consistent with back-end
  ui/src/app/shared/pod-name.test.ts
  ui/src/app/shared/pod-name.ts
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  workflow/util/pod_name.go
Labels: type/tech-debt, area/ui

#12972 fix(ui): try retrieving live workflow first then archived
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui, area/workflow-archive

#12970 fix: use GetTemplateFromNode to determine template name
  cmd/argo/commands/cp.go
  test/e2e/fixtures/then.go
  util/printer/workflow-printer.go
  workflow/controller/artifact_gc.go
  workflow/controller/exec_control.go
  workflow/controller/operator.go
  workflow/util/util.go
Labels: area/controller, area/workflow-templates

#12982 fix: `insecureSkipVerify` for `GetUserInfoGroups`
  server/auth/sso/sso.go
  server/auth/types/claims.go
  server/auth/types/claims_test.go
Labels: area/sso-rbac

#12772 docs: full copy-edit of Quick Start
  docs/quick-start.md
Labels: area/docs

#12975 chore(docs)!: remove references to no longer supported executors
  docs/empty-dir.md
  docs/faq.md
  docs/sidecar-injection.md
  docs/workflow-controller-configmap.yaml
  docs/workflow-executors.md
  docs/workflow-pod-security-context.md
  docs/workflow-rbac.md
  manifests/quick-start/base/executor/docker/executor-role.yaml
  manifests/quick-start/base/executor/k8sapi/executor-role.yaml
  manifests/quick-start/base/executor/kubelet/executor-role.yaml
  manifests/quick-start/base/executor/kubelet/kubelet-executor-clusterrole.yaml
  manifests/quick-start/base/executor/kubelet/kubelet-executor-default-clusterrolebinding.yaml
  manifests/quick-start/base/executor/pns/executor-role.yaml
Labels: type/tech-debt, area/docs, area/manifests

#12974 refactor(controller): optimize PDB creation request
  workflow/controller/operator.go
Labels: area/controller

#12741 fix: retry large archived wf. Fixes #12740
  pkg/apiclient/argo-kube-client.go
  server/apiserver/argoserver.go
  server/workflow/workflow_server_test.go
  server/workflowarchive/archived_workflow_server.go
  server/workflowarchive/archived_workflow_server_test.go
  util/errors/errors.go
Labels: area/workflow-archive, area/retry-manual, prioritized-review

#12989 build: Remove misleading logs from crdgen.sh
  hack/manifests/crdgen.sh
Labels: area/build

#12736 feat: add sqlite-based memory store for live workflows. Fixes #12025
  go.mod
  go.sum
  persist/sqldb/archived_workflow_labels.go
  persist/sqldb/archived_workflow_labels_test.go
  persist/sqldb/db_type.go
  persist/sqldb/mocks/WorkflowArchive.go
  persist/sqldb/null_workflow_archive.go
  persist/sqldb/selector.go
  persist/sqldb/workflow_archive.go
  pkg/apiclient/argo-kube-client.go
  server/apiserver/argoserver.go
  server/utils/list_options.go
  server/workflow/store/sqlite_store.go
  server/workflow/store/sqlite_store_test.go
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
  server/workflowarchive/archived_workflow_server.go
  server/workflowarchive/archived_workflow_server_test.go
  test/e2e/fixtures/e2e_suite.go
  workflow/controller/estimation/estimator_factory.go
  workflow/controller/estimation/estimator_factory_test.go
Labels: prioritized-review

#12675 chore(ui): update deprecated RxJS syntax
  ui/src/app/shared/retry-observable.ts
Labels: type/tech-debt, area/ui, area/upstream

#12990 docs: qualify reference to deprecated PSP
  docs/workflow-pod-security-context.md
Labels: type/security, area/docs
