Repository argoproj/argo-workflows, pull requests merged in 2024-09, with the labels that each got.

#13534 docs(contrib): add note for `signal_darwin` error
  .spelling
  docs/running-locally.md
Labels: area/docs, area/build, area/contributing

#13537 fix: Mark task result as completed if pod has been deleted for a while. Fixes #13533
  docs/environment-variables.md
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/operator.go
  workflow/controller/taskresult.go
Labels: area/controller

#12787 fix(executor): add executable permission to staged `script`
  workflow/executor/executor.go
Labels: area/executor, area/templates/script

#13513 fix: aggregate JSON output parameters correctly
  test/e2e/functional/param-aggregation-fromoutputs.yaml
  test/e2e/functional_test.go
  workflow/controller/operator.go
  workflow/controller/operator_aggregation_test.go
Labels: area/looping

#13393 docs: synchronization and paralellism docs improvements
  .spelling
  docs/parallelism.md
  docs/synchronization.md
  mkdocs.yml
Labels: area/docs, area/mutex-semaphore, area/parallelism

#13514 refactor: separate metrics code for reuse
  util/telemetry/attributes.go
  util/telemetry/exporter_prometheus.go
  util/telemetry/exporter_prometheus_test.go
  util/telemetry/helpers_test.go
  util/telemetry/instrument.go
  util/telemetry/metrics.go
  util/telemetry/modifiers.go
  util/telemetry/modifiers_test.go
  util/telemetry/operators.go
  util/telemetry/test_metrics_exporter.go
  util/telemetry/version.go
  util/telemetry/version_test.go
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/cron/operator_test.go
  workflow/gccontroller/gc_controller_test.go
  workflow/metrics/counter_cronworkflow_trigger.go
  workflow/metrics/counter_error.go
  workflow/metrics/counter_log.go
  workflow/metrics/counter_pod_missing.go
  workflow/metrics/counter_pod_pending.go
  workflow/metrics/counter_pod_phase.go
  workflow/metrics/counter_template.go
  workflow/metrics/counter_workflow_phase.go
  workflow/metrics/gauge_pod_phase.go
  workflow/metrics/gauge_workflow_condition.go
  workflow/metrics/gauge_workflow_phase.go
  workflow/metrics/histogram_durations.go
  workflow/metrics/histogram_template.go
  workflow/metrics/labels.go
  workflow/metrics/leader.go
  workflow/metrics/leader_test.go
  workflow/metrics/metrics.go
  workflow/metrics/metrics_custom.go
  workflow/metrics/metrics_k8s_request.go
  workflow/metrics/metrics_test.go
  workflow/metrics/test_helpers.go
  workflow/metrics/version.go
  workflow/metrics/version_test.go
  workflow/metrics/work_queue.go
  workflow/metrics/work_queue_test.go
Labels: area/controller, area/metrics

#13569 refactor(ci): move api knowledge to the matrix
  .github/workflows/ci-build.yaml
Labels: area/build

#13543 fix(api): `deleteDelayDuration` should be a string
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/fields.md
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/utils.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  sdks/java/client/docs/Duration.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1PodGC.md
  sdks/python/client/argo_workflows/model/duration.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_pod_gc.py
  sdks/python/client/argo_workflows/models/__init__.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/Duration.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1PodGC.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/controller/operator.go
  workflow/controller/pod_cleanup.go
Labels: area/api, area/spec, area/gc

#12383 chore: use env https_proxy as oss client option proxy_host #12313
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#13582 docs(artifacts): notate OSS as streaming capable in v3.6+
  docs/configure-artifact-repository.md
Labels: area/docs, area/artifacts

#13483 feat: support data transfer protection in HDFS artifacts (#13482)
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  examples/hdfs-artifact.yaml
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/full/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtaskresults.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  manifests/base/crds/minimal/argoproj.io_workflowtaskresults.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1HDFSArtifact.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1HDFSArtifactRepository.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_hdfs_artifact.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_hdfs_artifact_repository.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1HDFSArtifact.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1HDFSArtifactRepository.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/artifacts/hdfs/hdfs.go
  workflow/artifacts/hdfs/util.go
Labels: area/artifacts

#13589 chore(test): increase executor memory
  test/e2e/manifests/mixins/workflow-controller-configmap.yaml
Labels: area/executor, area/build, area/manifests

#13566 fix(api): optimise archived list query. Fixes #13295
  persist/sqldb/workflow_archive.go
Labels: area/api, area/workflow-archive, prioritized-review

#13100 chore!: remove legacy patch pods fallback
  docs/upgrading.md
  docs/workflow-templates.md
  examples/arguments-parameters-from-configmap.yaml
  examples/global-parameters-from-configmap-referenced-as-local-variable.yaml
  examples/global-parameters-from-configmap.yaml
  manifests/namespace-install/workflow-controller-rbac/workflow-controller-rolebinding.yaml
  manifests/quick-start/base/workflow-default-rolebinding.yaml
  test/e2e/manifests/minimal/kustomization.yaml
  test/e2e/manifests/mixins/get-cm-rbac.yaml
  test/e2e/resource_template_test.go
  test/e2e/workflow_configmap_substitution_test.go
  test/e2e/workflow_inputs_orverridable_test.go
  test/e2e/workflow_test.go
  workflow/common/common.go
  workflow/controller/controller_test.go
  workflow/controller/exit_handler_test.go
  workflow/controller/operator.go
  workflow/controller/operator_concurrency_test.go
  workflow/controller/operator_test.go
  workflow/controller/operator_wfdefault_test.go
  workflow/controller/workflowpod.go
  workflow/executor/executor.go
  workflow/util/merge_test.go
  workflow/validate/validate_dag_test.go
  workflow/validate/validate_test.go
Labels: type/tech-debt, area/controller, area/executor

#12467 feat(artifacts): support ephemeral credentials for S3. Fixes #5446
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/configure-artifact-repository.md
  docs/executor_swagger.md
  docs/fields.md
  go.mod
  go.sum
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/full/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtaskresults.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  manifests/base/crds/minimal/argoproj.io_workflowtaskresults.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1S3Artifact.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1S3ArtifactRepository.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_s3_artifact.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_s3_artifact_repository.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1S3Artifact.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1S3ArtifactRepository.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/artifacts/artifacts.go
  workflow/artifacts/artifacts_test.go
  workflow/artifacts/s3/s3.go
  workflow/controller/workflowpod.go
  workflow/controller/workflowpod_test.go
Labels: area/artifacts

#13602 chore: update golangci-lint to v1.61.0
  .golangci.yml
  Makefile
  pkg/apiclient/argo-kube-client.go
  pkg/apiclient/http1/facade.go
  test/e2e/argo_server_test.go
  test/e2e/cron_test.go
  util/file/fileutil_test.go
  util/template/validate_test.go
  workflow/controller/config.go
  workflow/controller/container_set_template_test.go
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/controller/steps.go
  workflow/controller/workflowpod_test.go
  workflow/executor/resource.go
  workflow/metrics/metrics_custom.go
Labels: type/dependencies, go, area/build, prioritized-review

#13339 refactor(ui): reorganize `shared/utils.ts`
  ui/src/app/app-router.tsx
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-details.tsx
  ui/src/app/cron-workflows/cron-workflow-creator.tsx
  ui/src/app/cron-workflows/cron-workflow-list.tsx
  ui/src/app/event-flow/event-flow-page.tsx
  ui/src/app/event-sources/event-source-creator.tsx
  ui/src/app/event-sources/event-source-list.tsx
  ui/src/app/plugins/plugin-list.tsx
  ui/src/app/reports/reports.tsx
  ui/src/app/sensors/sensor-creator.tsx
  ui/src/app/sensors/sensor-list.tsx
  ui/src/app/sensors/utils.ts
  ui/src/app/shared/components/namespace-filter.tsx
  ui/src/app/shared/components/parameters-input.tsx
  ui/src/app/shared/components/phase-icon.tsx
  ui/src/app/shared/history.test.ts
  ui/src/app/shared/history.ts
  ui/src/app/shared/namespaces.ts
  ui/src/app/shared/services/cron-workflow-service.ts
  ui/src/app/shared/services/utils.ts
  ui/src/app/shared/services/workflow-template-service.ts
  ui/src/app/shared/services/workflows-service.ts
  ui/src/app/shared/utils.ts
  ui/src/app/shared/workflow-operations-map.tsx
  ui/src/app/workflow-event-bindings/workflow-event-bindings.tsx
  ui/src/app/workflow-templates/workflow-template-creator.tsx
  ui/src/app/workflow-templates/workflow-template-list.tsx
  ui/src/app/workflows/components/resubmit-workflow-panel.tsx
  ui/src/app/workflows/components/retry-workflow-panel.tsx
  ui/src/app/workflows/components/submit-workflow-panel.tsx
  ui/src/app/workflows/components/workflow-creator.tsx
  ui/src/app/workflows/components/workflow-dag/workflow-dag.tsx
  ui/src/app/workflows/components/workflow-timeline/workflow-timeline.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/src/app/workflows/utils.ts
Labels: type/tech-debt, area/ui

#13606 fix(test): it is possible to get 1Tb of RAM on a node
  test/e2e/testdata/pending-workflow.yaml
Labels: area/build

#13474 feat(cron): cronworkflows `when` clause
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/fields.md
  docs/variables.md
  examples/cron-when.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_cron_workflow_spec.py
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  util/template/replace.go
  util/template/simple_template.go
  util/template/template.go
  workflow/controller/operator.go
  workflow/cron/operator.go
  workflow/cron/operator_test.go
Labels: area/cron-workflows, area/templating

#13497 feat: concurrency policy triggered counter metric
  docs/metrics.md
  docs/upgrading.md
  test/e2e/metrics_test.go
  test/e2e/testdata/cronworkflow-metrics-forbid.yaml
  test/e2e/testdata/cronworkflow-metrics-replace.yaml
  util/telemetry/attributes.go
  workflow/cron/operator.go
  workflow/metrics/counter_cronworkflow_policy.go
  workflow/metrics/metrics.go
Labels: area/metrics

#13607 test: match on multi-node clusters as well
  test/e2e/retry_test.go
Labels: area/build

#13548 fix(controller): handle `nil` `processedTmpl` in DAGs
  workflow/controller/dag.go
Labels: area/controller, area/templates/dag

#13600 ci: test k8s version 1.31
  .github/workflows/ci-build.yaml
  docs/releases.md
Labels: area/build

#13624 test: fix HttpHandler test
  test/e2e/hooks_test.go
Labels: area/build

#13623 build: ensure Makefile driven dependencies are up to date
  Makefile
Labels: area/build

#13626 fix(deps): Upgrade swagger-ui-react to v5.17.12. Fixes CVE-2024-45801
  ui/package.json
  ui/yarn.lock
Labels: type/security, type/dependencies, javascript

#13632 docs: fix metrics page admonitions and other tidying
  docs/metrics.md
  docs/workflow-creator.md
Labels: area/docs, area/metrics

#13369 fix(cron): various follow-ups for multiple schedules
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  cmd/argo/commands/cron/list.go
  cmd/argo/commands/cron/util.go
  docs/cron-workflows.md
  docs/fields.md
  examples/cron-workflow-multiple-schedules.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/cron_workflow_types_test.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_cron_workflow_spec.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowSpec.md
  test/e2e/cli_test.go
  test/e2e/cron_test.go
  ui/src/app/cron-workflows/cron-workflow-list.tsx
  ui/src/app/cron-workflows/cron-workflow-spec-editior.tsx
  ui/src/app/cron-workflows/cron-workflow-status-viewer.tsx
  ui/src/models/cron-workflows.ts
  workflow/cron/operator.go
  workflow/cron/operator_test.go
Labels: area/ui, area/cli, area/cron-workflows

#13643 docs: add several conference talks of mine
  .spelling
  README.md
  docs/README.md
  docs/use-cases/machine-learning.md
Labels: area/docs

#13640 test: properly detect + optimize example suite
  .github/workflows/ci-build.yaml
  hack/test-examples.sh
Labels: area/build

#13660 ci: fix flaky image gc and mysql connect + add k3s debug log
  .github/workflows/ci-build.yaml
  Makefile
Labels: area/build

#13666 docs: add sidecar kill command for linkerd-proxy
  docs/sidecar-injection.md
Labels: area/docs, area/sidecar-injection

#13647 build: fix `Makefile` dependencies for `zz_generated.deepcopy.go` to include `code-generator` which it uses
  Makefile
Labels: area/build

#13662 docs(cli): add examples for `argo archive list` with option explanations
  cmd/argo/commands/archive/list.go
  docs/cli/argo_archive_list.md
Labels: area/cli, area/docs

#13668 docs(cli): add examples for `argo archive get` with option explanations
  cmd/argo/commands/archive/get.go
  docs/cli/argo_archive_get.md
Labels: area/cli, area/docs

#13680 fix(cron): allow unresolved variables outside of `when`
  workflow/cron/operator.go
  workflow/cron/operator_test.go
Labels: area/cron-workflows, area/templating

#13667 docs: Clarify headless service for promethus scraping
  docs/metrics.md
Labels: area/docs, area/metrics

#13675 docs(cli): add example for `argo archive delete`
  cmd/argo/commands/archive/delete.go
  docs/cli/argo_archive_delete.md
Labels: area/cli, area/docs

#13635 feat(cli): add version header + warning on client-server mismatch. Fixes #9212
  cmd/argo/commands/root.go
  pkg/apiclient/argo-server-client.go
  server/apiserver/argoserver.go
  test/e2e/argo_server_test.go
  util/cmd/cmd.go
  util/cmd/cmd_test.go
  util/grpc/interceptor.go
  util/grpc/interceptor_test.go
Labels: type/security, area/api, area/cli
