Repository argoproj/argo-workflows, pull requests merged in 2024-07, with the labels that each got.

#13263 fix: oss internal error should retry. Fixes #13262
  workflow/artifacts/oss/oss.go
Labels: area/artifacts, area/upstream

#13280 fix(docs): clarify CronWorkflow `startingDeadlineSeconds`. Fixes #12971
  docs/cron-workflows.md
Labels: area/docs, area/cron-workflows

#13261 fix: correct pod names for inline templates. Fixes #12895
  test/e2e/workflow_test.go
  workflow/util/pod_name.go
  workflow/util/pod_name_v2_test.go
Labels: area/controller, area/server

#13294 fix: Only cleanup agent pod if exists. Fixes #12659
  workflow/controller/controller_test.go
  workflow/controller/operator.go
Labels: area/controller, area/agent

#13291 refactor(cli): simplify counter in printer
  util/printer/workflow-printer.go
Labels: type/tech-debt, area/cli

#13091 fix: allow artifact gc to delete directory. Fixes #12857
  workflow/artifacts/s3/s3.go
Labels: area/artifacts, area/gc

#13208 ci(retest): filter more comments to use GHA less
  .github/workflows/retest.yaml
Labels: area/build, prioritized-review

#13319 chore(manifests): consistently put k8s "header" at the top
  manifests/quick-start/base/httpbin/my-httpbin-cred-secret.yaml
  manifests/quick-start/base/minio/my-minio-cred-secret.yaml
  manifests/quick-start/base/overlays/workflow-controller-configmap.yaml
  manifests/quick-start/minimal/overlays/workflow-controller-configmap.yaml
  manifests/quick-start/mysql/argo-mysql-config-secret.yaml
  manifests/quick-start/mysql/overlays/workflow-controller-configmap.yaml
  manifests/quick-start/postgres/argo-postgres-config-secret.yaml
  manifests/quick-start/postgres/overlays/workflow-controller-configmap.yaml
  manifests/quick-start/sso/dex/dex-cm.yaml
  manifests/quick-start/sso/overlays/workflow-controller-configmap.yaml
Labels: area/manifests

#13320 docs: only display `main` status for Snyk badge
  README.md
  docs/README.md
Labels: type/security, area/docs

#13321 fix(resource): catch fatal `kubectl` errors
  test/e2e/resource_template_test.go
  test/e2e/testdata/resource-templates/failed.yaml
  workflow/executor/resource.go
Labels: area/executor, area/templates/resource

#13328 docs: fix typo in title example
  docs/title-and-description.md
Labels: area/docs

#13236 build(docs): exclude more commits in changelog grep
  .github/dependabot.yml
  CHANGELOG.md
  hack/changelog.sh
Labels: area/docs, area/build, prioritized-review

#13172 fix: Update modification timestamps on untar. Fixes #12885
  workflow/executor/executor.go
  workflow/executor/executor_test.go
Labels: area/executor, area/artifacts

#13183 fix(cli): Ensure `--dry-run` and `--server-dry-run` flags do not create workflows. fixes #12944
  server/workflow/workflow_server.go
  test/e2e/cli_test.go
Labels: area/cli

#13292 docs: full copy-edit of CronWorkflows page
  docs/cron-workflows.md
Labels: area/docs, area/cron-workflows

#13258 chore(deps): update go to 1.22
  .devcontainer/devcontainer.json
  .github/workflows/ci-build.yaml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  Dockerfile
  Dockerfile.windows
  Makefile
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  go.mod
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactGCSpec.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactGCStatus.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactNodeSpec.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactResult.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ArtifactResultNodeStatus.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1NodeResult.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1WorkflowTaskSetSpec.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1WorkflowTaskSetStatus.md
  sdks/java/client/docs/StatusCause.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifact_gc_spec.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifact_gc_status.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifact_node_spec.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifact_result.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_artifact_result_node_status.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_node_result.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_workflow_task_set_spec.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_workflow_task_set_status.py
  sdks/python/client/argo_workflows/model/status_cause.py
  sdks/python/client/argo_workflows/models/__init__.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactGCSpec.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactGCStatus.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactNodeSpec.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactResult.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ArtifactResultNodeStatus.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1NodeResult.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1WorkflowTaskSetSpec.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1WorkflowTaskSetStatus.md
  sdks/python/client/docs/StatusCause.md
Labels: type/dependencies, go, area/build, lgtm

#13340 refactor: reorganize some `Makefile` variables
  Makefile
Labels: area/build, lgtm

#13308 fix(ui): hide `Workflow gone` message when workflow is archived
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: lgtm

#13349 fix(devcontainer): expose ports for all services
  .devcontainer/devcontainer.json
Labels: area/build, lgtm

#13345 refactor: use templateScope var instead of repeatedly retrieving it from function
  workflow/controller/operator.go
Labels: area/controller, lgtm

#13351 fix(docs): correct headings in 3.4 upgrade notes
  docs/upgrading.md
Labels: area/docs, lgtm

#13348 fix(devcontainer): remove `-R` in `chown`
  .devcontainer/pre-build.sh
Labels: area/build, area/contributing, lgtm

#13251 docs(artifacts): fix typo and remove superfluous whitespace
  docs/walk-through/artifacts.md
Labels: area/docs, area/artifacts, lgtm

#13048 fix: constraint containerType outboundnode boundary. Fixes #12997
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, area/templates/container-set, area/templates/dag

#13370 chore: make `.spelling` sorting more deterministic
  Makefile
Labels: area/build, lgtm

#13367 chore: remove legacy go build tags
  hack/docs/fields.go
  hack/docs/null_fields.go
  test/e2e/agent_test.go
  test/e2e/argo_server_test.go
  test/e2e/artifacts_test.go
  test/e2e/cli_test.go
  test/e2e/cluster_workflow_template_test.go
  test/e2e/cron_test.go
  test/e2e/daemon_pod_test.go
  test/e2e/estimated_duration_test.go
  test/e2e/executor_plugins_test.go
  test/e2e/expr_lang.go
  test/e2e/failed_main_test.go
  test/e2e/functional_test.go
  test/e2e/hooks_test.go
  test/e2e/http_artifacts_test.go
  test/e2e/invalid_command_test.go
  test/e2e/malformed_resources_test.go
  test/e2e/metrics_test.go
  test/e2e/pod_cleanup_test.go
  test/e2e/progress_test.go
  test/e2e/resource_template_test.go
  test/e2e/retry_test.go
  test/e2e/run_as_not_root_test.go
  test/e2e/semaphore_test.go
  test/e2e/signals_test.go
  test/e2e/workflow_configmap_substitution_test.go
  test/e2e/workflow_inputs_orverridable_test.go
  test/e2e/workflow_template_test.go
  test/e2e/workflow_test.go
Labels: area/build, lgtm

#13364 feat(cli): support `-l` flag for `template list`. Fixes #13309
  cmd/argo/commands/template/list.go
  docs/cli/argo_template_list.md
Labels: area/cli, area/workflow-templates, lgtm

#13363 fix(cron): `schedules` with `timezone`
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/cron_workflow_types_test.go
  test/e2e/cron_test.go
Labels: area/cron-workflows, lgtm

#13360 feat: Support authentication via Shared Access Signatures (SAS) for Azure artifacts (Fixes #10297)
  docs/configure-artifact-repository.md
  examples/input-artifact-azure.yaml
  workflow/artifacts/azure/azure.go
  workflow/artifacts/azure/azure_test.go
Labels: area/artifacts, lgtm

#13371 docs: add Archived Workflows merge to the Upgrading Notes
  docs/upgrading.md
  ui/src/app/modals/new-version-modal.tsx
Labels: area/docs, prioritized-review, lgtm

#13375 fix(devcontainer): `chown` regression for `make codegen`
  .devcontainer/pre-build.sh
Labels: area/build, area/contributing, lgtm

#12723 fix: Mark non-fulfilled taskSetNodes error when agent pod failed. Fixes #12703
  manifests/cluster-install/workflow-controller-rbac/workflow-controller-clusterrole.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  workflow/controller/agent.go
  workflow/controller/agent_test.go
  workflow/controller/operator.go
  workflow/controller/operator_agent_test.go
  workflow/controller/taskset.go
  workflow/controller/workflowpod.go
Labels: area/agent, lgtm

#13337 refactor: remove unnecessary `PriorityMutex` implementation
  workflow/sync/mutex.go
  workflow/sync/sync_manager_test.go
Labels: area/mutex-semaphore, lgtm

#13387 fix(ui): display Bitbucket Server event source icon in event flow. Fixes #13386
  ui/src/app/event-flow/icons.ts
  ui/src/models/event-source.ts
Labels: area/ui, lgtm

#13350 fix(build): slightly optimize UI tasks in `kit` `tasks.yaml`
  tasks.yaml
Labels: area/build, lgtm

#13352 docs: split out <3.x.x `CHANGELOG.md` for faster loading
  CHANGELOG-2-x-x.md
  CHANGELOG.md
  hack/changelog.sh
Labels: area/docs, area/build, lgtm

#13366 fix(test): load to stream tmp file counting
  workflow/artifacts/common/load_to_stream.go
  workflow/artifacts/common/load_to_stream_test.go
Labels: type/tech-debt, area/build, area/artifacts, lgtm

#13381 ci: test k8s version 1.28 and 1.30
  .github/workflows/ci-build.yaml
  docs/releases.md
Labels: type/dependencies, lgtm

#13404 build: resolve error for toolchain not available
  go.mod
Labels: type/dependencies, go, area/build

#13406 ci: temporarily ignore false positive Snyk vulnerability for `jackc/pgx/v4`
  .snyk
Labels: type/security, type/dependencies, go, area/build

#13317 fix(resource): don't use `-f` when patch file is provided
  docs/fields.md
  examples/k8s-patch-json-pod.yaml
  examples/k8s-patch-json-workflow.yaml
  examples/k8s-patch-merge-pod.yaml
  examples/k8s-patch-pod.yaml
  workflow/executor/resource.go
  workflow/executor/resource_test.go
Labels: area/templates/resource, lgtm

#13347 fix(server): don't return `undefined` SA NS
  server/auth/serviceaccount/claims.go
  server/auth/serviceaccount/claims_test.go
  ui/src/app/app-router.tsx
  ui/src/app/shared/utils.ts
Labels: area/api, area/server

#13394 fix: improve get archived workflow query performance during controller estimation. Fixes #13382
  persist/sqldb/mocks/WorkflowArchive.go
  persist/sqldb/null_workflow_archive.go
  persist/sqldb/workflow_archive.go
  workflow/controller/estimation/estimator_factory.go
  workflow/controller/estimation/estimator_factory_test.go
Labels: area/controller, area/workflow-archive

#13417 fix(swagger): no spaces in `archived-workflows`. Fixes #10609
  Makefile
  api/openapi-spec/swagger.json
  dev/nix/flake.nix
  persist/sqldb/mocks/WorkflowArchive.go
  pkg/apiclient/_.primary.swagger.json
  pkg/apiclient/workflow/mocks/WorkflowServiceClient.go
  pkg/apiclient/workflowtemplate/mocks/WorkflowTemplateServiceClient.go
  sdks/java/client/docs/ArtifactServiceApi.md
  sdks/python/client/argo_workflows/api/artifact_service_api.py
  server/auth/mocks/Gatekeeper.go
  server/auth/sso/mocks/Interface.go
  workflow/artifactrepositories/mocks/Interface.go
  workflow/executor/mocks/ContainerRuntimeExecutor.go
  workflow/sync/mocks/Throttler.go
Labels: area/sdks, area/api
