Repository argoproj/argo-workflows, pull requests merged in 2024-10, with the labels that each got.

#13688 fix: add `cronWorkflowWorkers` log. Fixes: #13681
  workflow/controller/controller.go
Labels: area/controller, area/cron-workflows

#13678 fix: all written artifacts should be saved and garbage collected
  test/e2e/artifacts_test.go
  test/e2e/testdata/artifactgc/artgc-non-optional-artifact-not-written.yaml
  test/e2e/testdata/artifactgc/artgc-optional-artifact-not-written.yaml
  workflow/executor/executor.go
Labels: area/artifacts, area/gc

#13593 fix(ui): handle React 18 batching for "Submit" button on details page. Fixes #13453
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-details.tsx
  ui/src/app/cron-workflows/cron-workflow-details.tsx
  ui/src/app/event-sources/event-source-details.tsx
  ui/src/app/sensors/sensor-details.tsx
  ui/src/app/shared/use-editable-object.ts
  ui/src/app/workflow-templates/workflow-template-details.tsx
Labels: area/ui

#13201 fix: skip clear message when node transition from pending to fail. Fixes #13200
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller

#13586 fix(ui): ignore `@every` cron expression for FE pretty printing and update `cronstrue` dependency. Fixes #13489
  ui/package.json
  ui/src/app/cron-workflows/pretty-schedule.tsx
  ui/yarn.lock
Labels: type/dependencies, area/ui, area/cron-workflows, javascript

#12071 fix(test): windows tests fixes. Fixes #11994
  cmd/argo/commands/lint_test.go
  cmd/argo/lint/formatter_pretty_test.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/workflow_types_test.go
  workflow/artifacts/common/load_to_stream_test.go
  workflow/executor/executor_test.go
Labels: area/build, area/windows

#13724 chore(docs): fix artifact repository ref example name typo
  examples/artifact-repository-ref.yaml
Labels: area/docs, area/artifacts

#13713 fix(ui): remove leading slash in `uiUrl` for ArchivedWorkflowList redirect. Fixes #13056
  ui/src/app/archived-workflows/components/archived-workflow-list/archived-workflow-list.tsx
Labels: area/ui

#13693 fix(emissary): signal SIGINT/SIGTERM in windows correctly
  go.mod
  workflow/executor/os-specific/signal_windows.go
  workflow/executor/os-specific/signal_windows_test.go
Labels: area/executor, area/windows

#13531 fix(cli): handle multi-resource yaml in offline lint. Fixes #12137
  cmd/argo/commands/lint_test.go
  pkg/apiclient/offline-client.go
Labels: area/cli

#13731 fix(controller): handle race when starting metrics server. Fixes #10807
  cmd/workflow-controller/main.go
  util/telemetry/exporter_prometheus_test.go
  workflow/controller/controller.go
Labels: area/controller, area/metrics

#13733 docs: delete deprecated & removed immediate template docs
  docs/workflow-templates.md
Labels: type/tech-debt, area/docs, area/spec, area/workflow-templates

#13648 fix(controller): node message should be updated when lock msg changed
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, area/mutex-semaphore

#13745 feat: add `SKIP_WORKFLOW_DURATION_ESTIMATION` env var. Fixes #7271
  docs/environment-variables.md
  workflow/controller/estimation/estimator_factory.go
Labels: area/controller

#13752 fix(ui): allow `links` to metadata with dots. Fixes #11741
  ui/src/app/shared/components/links.test.ts
  ui/src/app/shared/components/links.tsx
Labels: area/ui

#13655 fix(controller): retry transient error on agent pod creation
  workflow/controller/agent.go
Labels: area/controller, area/agent

#13742 feat: `ARGO_TEMPLATE` env var without `inputs.parameters`
  .spelling
  docs/environment-variables.md
  workflow/controller/workflowpod.go
Labels: area/controller, area/executor

#13719 docs: mark generated python SDK as deprecated
  docs/client-libraries.md
  sdks/python/README.md
Labels: area/sdks, area/docs

#13674 build: support TLS for UI and Server with `make start`
  .devcontainer/devcontainer.json
  Makefile
  dev/nix/conf.nix
  docs/running-locally.md
  hack/update-sso-redirect-url.sh
  manifests/quick-start/sso/dex/dex-cm.yaml
  ui/src/app/webpack.config.js
Labels: area/ui, area/build, area/contributing

#13743 fix: only set `ARGO_PROGRESS_FILE` when needed. Partial fix for #13089
  workflow/controller/workflowpod.go
  workflow/controller/workflowpod_test.go
Labels: area/controller, area/executor

#13754 build: don't minimize CRD for `WorkflowEventBinding` and `WorkflowArtifactGCTask`. Fixes #12166
  hack/manifests/crdgen.sh
  hack/manifests/crds.go
  hack/manifests/main.go
  manifests/base/crds/full/README.md
  manifests/base/crds/minimal/README.md
  manifests/base/crds/minimal/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/minimal/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/minimal/argoproj.io_workflowtaskresults.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
Labels: area/build, area/manifests

#13746 feat: add config to skip sending workflow events. Fixes #13042
  config/config.go
  config/workflow_events.go
  config/workflow_events_test.go
  docs/workflow-controller-configmap.yaml
  workflow/controller/operator.go
Labels: area/controller

#13645 docs: in-line versioning + deprecation for multi-semaphore
  docs/fields.md
  docs/synchronization.md
  examples/synchronization-mutex-tmpl-level-legacy.yaml
  examples/synchronization-mutex-tmpl-level.yaml
  examples/synchronization-mutex-wf-level-legacy.yaml
  examples/synchronization-mutex-wf-level.yaml
  examples/synchronization-tmpl-level-legacy.yaml
  examples/synchronization-tmpl-level.yaml
  examples/synchronization-wf-level-legacy.yaml
  examples/synchronization-wf-level.yaml
  mkdocs.yml
Labels: area/docs, area/mutex-semaphore, prioritized-review

#13757 docs: add deprecations to upgrading guide
  docs/upgrading.md
Labels: area/docs

#13160 feat: Add name filters for workflow list (exact/prefix/pattern)
  api/openapi-spec/swagger.json
  persist/sqldb/selector.go
  pkg/apiclient/workflow/workflow.pb.go
  pkg/apiclient/workflow/workflow.proto
  sdks/java/client/docs/WorkflowServiceApi.md
  sdks/python/client/argo_workflows/api/workflow_service_api.py
  sdks/python/client/docs/WorkflowServiceApi.md
  server/utils/list_options.go
  server/workflow/store/lister.go
  server/workflow/store/sqlite_store.go
  server/workflow/store/sqlite_store_test.go
  server/workflow/workflow_server.go
  server/workflowarchive/archived_workflow_server.go
  ui/src/app/shared/components/dropdown/dropdown.tsx
  ui/src/app/shared/components/input-filter.scss
  ui/src/app/shared/components/input-filter.tsx
  ui/src/app/shared/services/utils.ts
  ui/src/app/shared/services/workflows-service.ts
  ui/src/app/workflows/components/workflow-filters/workflow-filters.scss
  ui/src/app/workflows/components/workflow-filters/workflow-filters.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
Labels: area/api, area/ui

#13723 docs(cron): add `when` to table + examples for DST leap handling
  docs/cron-workflows.md
Labels: area/docs, area/cron-workflows

#13720 docs: add 3.6 json templating upgrading notes
  docs/upgrading.md
Labels: area/docs, area/templating

#13702 fix!: consolidate cronworkflow variables
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/cron-workflows.md
  docs/fields.md
  docs/variables.md
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1StopStrategy.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_stop_strategy.py
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1StopStrategy.md
  test/e2e/cron_test.go
  workflow/cron/operator.go
Labels: area/cron-workflows, area/templating

#13771 build: add `make` targets to dump the database
  .gitignore
  Makefile
  docs/running-locally.md
Labels: area/build, area/workflow-archive, area/contributing

#13769 ci: increase timeout for e2e-tests
  .github/workflows/ci-build.yaml
Labels: area/build

#13761 refactor: Only set `ARGO_TEMPLATE` env for init container.
  .spelling
  cmd/argoexec/commands/root.go
  docs/environment-variables.md
  workflow/controller/operator_test.go
  workflow/controller/workflowpod.go
Labels: area/controller, area/executor

#13777 fix: remove JSON cast when querying archived workflows
  persist/sqldb/workflow_archive.go
Labels: area/workflow-archive

#13788 fix(ui): clarify log deletion in log-viewer. Fixes #10993
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
Labels: area/ui, area/archive-logs

#13753 build(docs): include `WorkflowEventBinding` in field reference
  docs/fields.md
  hack/docs/fields.go
Labels: area/docs, area/build

#13511 feat(ui): Group nodes based on `templateRef` and show invoking template name. Fixes #11106
  ui/src/app/shared/components/graph/graph-panel.tsx
  ui/src/app/workflows/components/workflow-dag/workflow-dag-render-options-panel.tsx
  ui/src/app/workflows/components/workflow-dag/workflow-dag.tsx
Labels: area/ui

#13795 fix(cron): correctly run when `startingDeadlineSeconds` and `timezone` are set
  workflow/cron/operator.go
  workflow/cron/operator_test.go
Labels: area/cron-workflows, prioritized-review

#13781 docs: remove incorrect statement about DIND not working
  docs/walk-through/docker-in-docker-using-sidecars.md
Labels: area/docs

#13797 feat(artifacts): add git https insecure option. Fixes #10762
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/full/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtaskresults.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  manifests/base/crds/minimal/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/minimal/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/minimal/argoproj.io_workflowtaskresults.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1GitArtifact.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_git_artifact.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1GitArtifact.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/artifacts/artifacts.go
  workflow/artifacts/git/git.go
Labels: area/artifacts

#13779 fix!: migrate `argo_archived_workflows.workflow` to `jsonb`
  persist/sqldb/migrate.go
Labels: area/workflow-archive

#13739 docs: new features in 3.6
  .spelling
  docs/new-features.md
  docs/releases.md
  docs/upgrading.md
  mkdocs.yml
  ui/src/app/modals/new-version-modal.tsx
Labels: area/ui, area/docs

#13808 docs: fix new feature link
  docs/new-features.md
Labels: area/docs

#13775 refactor: remove `util/slice` and use standard `slices` library
  pkg/apis/workflow/v1alpha1/workflow_types.go
  util/slice/slice.go
  util/slice/slice_test.go
  workflow/controller/artifact_gc.go
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/controller/operator.go
  workflow/executor/common/common.go
Labels: type/tech-debt

#13807 fix: correct nil pointer when listing wf archive without list options. Fixes #13804
  server/workflowarchive/archived_workflow_server.go
  test/e2e/argo_server_test.go
Labels: area/workflow-archive

#13820 fix: don't mount SA token when `automountServiceAccountToken: false`. Fixes #12848
  test/e2e/resource_template_test.go
  test/e2e/workflow_test.go
  workflow/controller/workflowpod.go
Labels: area/controller, area/executor

#13811 build(devcontainer): expose port of `mkdocs serve`
  .devcontainer/devcontainer.json
Labels: area/docs, area/build, area/contributing

#13798 fix: mark taskresult complete when failed or error. Fixes #12993, Fixes #13533
  docs/environment-variables.md
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/taskresult.go
Labels: area/controller

#13835 fix(ui): disable new graph filter options by default
  ui/src/workflows/components/workflow-dag/workflow-dag.tsx
Labels: area/ui

#13822 refactor(ui): replace deprecated usage of `defaultProps`
  ui/src/shared/components/editors/key-value-editor.tsx
  ui/src/shared/components/graph/graph-panel.tsx
Labels: area/ui

#13818 refactor(deps)!: remove `swagger-ui-react`
  docs/rest-api.md
  docs/upgrading.md
  ui/package.json
  ui/src/api-docs/api-docs.tsx
  ui/src/help/help.tsx
  ui/src/workflow-event-bindings/workflow-event-bindings.tsx
  ui/yarn.lock
Labels: type/security, type/dependencies, area/ui, area/docs, javascript

#13816 docs: additional details on jsonb migration for 3.6
  docs/upgrading.md
Labels: area/docs, area/workflow-archive

#13824 docs: 3.5 Swagger UI should reference 3.5 OpenAPI spec -- 3.5 specific
  docs/swagger.md
Labels: area/docs, type/backport
