Repository argoproj/argo-workflows, pull requests merged in 2024-01, with the labels that each got.

#12436 fix: ensure workflow wait for onExit hook for DAG template (#11880)
  test/e2e/functional/stop-terminate.yaml
  workflow/controller/dag.go
Labels: area/controller, area/hooks, area/exit-handler

#12454 fix: CI Artifact Download Timeout. Fixes #12452
  .github/dependabot.yml
  .github/workflows/ci-build.yaml
  .github/workflows/docs.yaml
Labels: dependencies, github_actions, area/build

#12461 docs: change the last missing doc urls to readthedocs
  .github/ISSUE_TEMPLATE/config.yml
  workflow/executor/executor.go
Labels: area/docs

#12441 feat: Support argo plugin stop. Fixes #12333
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/operator.go
Labels: area/plugins

#12359 docs: Sustainability effort (Incentive system)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/enhancement_proposal.md
  .github/ISSUE_TEMPLATE/regression.yaml
  .github/pull_request_template.md
  .spelling
  USERS.md
  community/README.md
  community/sustainability_effort.md
  docs/CONTRIBUTING.md
Labels: area/docs

#12464 fix(docs): render Mermaid diagrams in docs
  mkdocs.yml
Labels: area/docs, area/build

#12420 docs: update quick start guide
  docs/quick-start.md
Labels: area/docs

#12466 fix(docs): exclude `docs/requirements.txt` from docs build
  mkdocs.yml
Labels: area/docs, area/build

#12465 fix(docs): handle `fields` examples with `md_in_html`
  Makefile
  docs/fields.md
  hack/docgen.go
  hack/main.go
  hack/parse_examples.go
  mkdocs.yml
Labels: area/docs, area/build, prioritized-review

#12470 fix: Resolve vulnerabilities in axios
  ui/yarn.lock
Labels: prioritized-review

#12472 docs: Add notes on release branch to work with versioned docs
  .spelling
  docs/releasing.md
Labels: prioritized-review

#12471 docs: Mention #argo-wf-sustainability in sustainability efforts
  community/sustainability_effort.md
Labels: prioritized-review

#12488 ci: add Stale Action for specifically labeled issues and PRs
  .github/workflows/stale.yaml
  docs/CONTRIBUTING.md
Labels: area/build

#12419 feat: delete pods in parallel to speed up retryworkflow
  server/workflow/workflow_server.go
Labels: prioritized-review

#12397 fix: Add missing 'archived' prop for ArtifactPanel component. Fixes #12331
  test/e2e/argo_server_test.go
  test/e2e/testdata/artifact-passing-workflow.yaml
  ui/src/app/workflows/components/workflow-details/artifact-panel.tsx
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
Labels: area/ui, area/artifacts, area/server

#12325 feat: support long arguments
  cmd/argoexec/commands/root.go
  workflow/common/common.go
  workflow/controller/controller_test.go
  workflow/controller/workflowpod.go
Labels: prioritized-review

#12412 fix: wrong values are assigned to input parameters of workflowtemplat…
  workflow/util/merge.go
  workflow/util/merge_test.go
Labels: prioritized-review

#12499 docs: update backported commits to https://argo-workflows.readthedocs.io/en/release-3.5
  ui/src/app/workflows/components/workflow-drawer/workflow-drawer.tsx
  workflow/executor/executor.go
Labels: area/docs

#12515 fix: Switch to upstream go-git. Fixes CVE-2023-49569
  go.mod
  go.sum
Labels: prioritized-review

#12517 docs: Add Snyk status badge to README.md
  README.md
Labels: security, area/docs, prioritized-review

#12328 feat: speed up resolve reference
  workflow/controller/steps.go
Labels: area/controller, area/artifacts, prioritized-review

#12524 docs: broken link
  docs/argo-server-sso.md
Labels: area/docs

#12176 fix: Fixed mutex with withSequence in http template broken. Fixes #12018
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/http_template.go
Labels: area/mutex-semaphore, area/templates/http

#12233 fix: prevent update race in workflow cache (Fixes #9574)
  workflow/controller/controller.go
Labels: area/controller

#12487 ci: disable non-security dependabot updates
  .github/dependabot.yml
Labels: dependencies, github_actions, go, area/build, javascript, prioritized-review

#12521 build(docs): auto alphabetize `.spelling` file
  .github/workflows/docs.yaml
  .spelling
  Makefile
Labels: area/docs, area/build

#12234 ci: Apply yarn-deduplicate to dependabot tasks
  .github/workflows/ci-build.yaml
Labels: area/ui, area/build

#12536 fix: add resource quota evaluation timed out to transient
  util/errors/errors.go
  util/errors/errors_test.go
Labels: area/executor

#12556 chore(deps): bump github.com/cloudflare/circl to 1.3.7 to fix GHSA-9763-4f94-gfch
  go.mod
  go.sum
Labels: security, dependencies, go

#12544 fix: Mark resource && data template report-outputs-completed true
  cmd/argoexec/commands/data.go
  cmd/argoexec/commands/resource.go
  test/e2e/functional_test.go
  test/e2e/resource_template_test.go
Labels: prioritized-review

#12413 feat: Add finalizer to workflow pod to prevent 'pod deleted'. Fixes #8783 Continuing Work of #9058
  .github/workflows/ci-build.yaml
  Makefile
  docs/environment-variables.md
  test/e2e/fixtures/e2e_suite.go
  test/e2e/fixtures/when.go
  test/e2e/functional_test.go
  workflow/common/common.go
  workflow/controller/controller.go
  workflow/controller/operator.go
  workflow/controller/workflowpod.go
  workflow/controller/workflowpod_test.go
Labels: area/controller

#12573 fix: upgrade expr-lang. Fixes #12037
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/argo-server-sso.md
  docs/data-sourcing-and-transformation.md
  docs/events.md
  docs/executor_swagger.md
  docs/fields.md
  docs/retries.md
  docs/variables.md
  go.mod
  go.sum
  pkg/apis/workflow/v1alpha1/event_types.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1Event.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ValueFrom.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_event.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_value_from.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1Event.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ValueFrom.md
  server/event/dispatch/operation.go
  server/event/dispatch/operation_test.go
  test/e2e/argo_server_test.go
  test/e2e/expr_lang.go
  util/expr/argoexpr/eval.go
  util/expr/argoexpr/eval_test.go
  util/template/expression_template.go
  util/template/replace_test.go
  util/template/resolve_var.go
  util/template/resolve_var_test.go
  workflow/controller/operator.go
  workflow/controller/scope.go
  workflow/data/data.go
Labels: dependencies, go, area/templating, prioritized-review
