Repository argoproj/argo-workflows, pull requests merged in 2024-06, with the labels that each got.

#13132 docs: elaborate on k8s compatibility
  .spelling
  docs/releases.md
Labels: area/docs, prioritized-review

#13040 fix(ui): `package.json#license` should be Apache
  ui/package.json
Labels: area/ui

#13134 docs: minor copy-edits to releases page
  .spelling
  docs/releases.md
Labels: area/docs

#13115 docs: link to a more up-to-date Grafana dashboard
  docs/metrics.md
Labels: area/docs, area/metrics

#13138 docs: remove Giscus integration
  docs/overrides/main.html
Labels: area/docs, prioritized-review

#13113 fix(build): `uname` handling for mac M1 arch. Fixes #13112
  Makefile
Labels: area/build, area/contributing

#12791 chore(deps): use `docker/login-action` consistently instead of `Azure/docker-login`
  .github/workflows/release.yaml
Labels: type/dependencies, github_actions, area/build

#13155 fix(release): set `$DOCKER_CONFIG` if unset
  .github/workflows/release.yaml
Labels: area/build

#13102 fix: don't fail workflow if PDB creation fails
  workflow/controller/operator.go
Labels: area/controller, prioritized-review

#13157 docs: copy-edit of Steps page
  docs/walk-through/steps.md
Labels: area/docs, area/templates/steps

#12476 fix: Apply podSpecPatch in `woc.execWf.Spec` and template to pod sequentially
  workflow/controller/workflowpod.go
  workflow/controller/workflowpod_test.go
  workflow/util/util.go
  workflow/util/util_test.go
Labels: type/security, area/spec

#13137 docs(server): full copy-edit of auth mode page
  docs/argo-server-auth-mode.md
Labels: area/docs, area/sso-rbac, area/server, prioritized-review

#12909 fix(templating): return json, not go structs
  docs/fields.md
  examples/expression-destructure-json-complex.yaml
  util/template/expression_template.go
  util/template/template_test.go
Labels: area/templating

#13166 fix(server): mutex calls to sqlitex
  server/workflow/store/sqlite_store.go
Labels: area/server

#13169 fix(ui): upgrade `argo-ui` for visible filter dropdown bar arrow. Fixes #7789
  ui/package.json
  ui/yarn.lock
Labels: type/dependencies, area/ui, javascript

#13189 fix(server): don't use cluster scope list + watch in namespaced mode. Fixes #13177
  pkg/apiclient/argo-kube-client.go
  server/apiserver/argoserver.go
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
Labels: area/server

#13066 fix: don't necessarily include all artifacts from templates in node outputs
  cmd/argoexec/commands/wait.go
  test/e2e/artifacts_test.go
  test/e2e/fixtures/when.go
  test/e2e/testdata/artifactgc/artgc-artifact-not-written.yaml
  workflow/executor/executor.go
  workflow/executor/executor_test.go
Labels: area/artifacts, area/gc

#13110 docs: full copy-edit of enhanced `depends` page
  docs/enhanced-depends-logic.md
Labels: area/docs, area/templates/dag, prioritized-review

#13163 fix: process metrics later in `executeTemplate`. Fixes #13162
  test/e2e/metrics_test.go
  test/e2e/testdata/template-status-failed-conditional-metric.yaml
  workflow/controller/operator.go
Labels: area/metrics, area/templating

#13194 feat(deps): upgrade `expr` from 1.16.0 to 1.16.9 to support `concat` function. Fixes #13175
  go.mod
  go.sum
  server/event/dispatch/operation_test.go
  test/e2e/argo_server_test.go
Labels: type/dependencies, go, area/templating

#13214 fix: Mark `Pending` pod nodes as `Failed` when shutting down. Fixes #13210
  workflow/controller/controller_test.go
  workflow/controller/operator_test.go
  workflow/controller/workflowpod.go
Labels: area/controller

#12696 docs: add CronWorkflow stopStrategy docs
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/cron-workflows.md
  docs/fields.md
  docs/variables.md
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowStatus.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1StopStrategy.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_cron_workflow_status.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_stop_strategy.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowStatus.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1StopStrategy.md
Labels: area/docs, area/cron-workflows

#13039 fix(ui): Use proper podname for containersets. Fixes #13038
  ui/src/app/shared/pod-name.test.ts
  ui/src/app/shared/pod-name.ts
Labels: area/ui, area/templates/container-set

#13203 fix(server): switch to `JSON_EXTRACT` and `JSON_UNQUOTE` for MySQL/MariaDB. Fixes #13202
  persist/sqldb/workflow_archive.go
Labels: area/server

#13240 docs(sso): clarify Dex `staticClients` ID for `argo-cd/values.yaml` block
  docs/argo-server-sso-argocd.md
Labels: area/docs, area/sso-rbac

#13244 fix(ui): parameter descriptions shouldn't disappear on input
  ui/src/app/shared/components/parameters-input.tsx
Labels: area/ui

#12089 docs: updated self reporting progress example to match recent conventions
  docs/progress.md
Labels: area/executor, area/docs

#13235 build(docs): include full changelog and all contributors
  CHANGELOG.md
  hack/changelog.sh
Labels: area/docs, area/build, prioritized-review
