Repository argoproj/argo-workflows, pull requests merged in 2024-03, with the labels that each got.

#12737 test: fix intermittent operator metrics test failure
  go.mod
  go.sum
  workflow/controller/operator_metrics_test.go
Labels: area/build, area/upstream

#12749 fix(log): change task set to task result.
  workflow/executor/executor.go
Labels: area/executor

#12748 fix: patch report outputs completed if task result not exists.
  workflow/executor/executor.go
Labels: area/executor

#12501 docs: add internal redirects for moved or renamed pages
  docs/argo-server-sso.md
  docs/requirements.txt
  docs/service-account-secrets.md
  docs/webhdfs.md
  mkdocs.yml
Labels: area/docs

#12574 fix: ensure workflowtaskresults complete before mark workflow completed status. Fixes: #12615
  test/e2e/argo_server_test.go
  test/e2e/testdata/retry-on-stopped.yaml
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, prioritized-review

#12719 chore(deps): Bump sigs.k8s.io/controller-tools/cmd/controller-gen from v0.4.1 to v0.14.0
  Makefile
  dev/nix/flake.nix
  hack/crdgen.sh
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflowartifactgctasks.yaml
  manifests/base/crds/full/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtaskresults.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  manifests/base/crds/minimal/argoproj.io_workflowtaskresults.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
Labels: dependencies, go, area/build

#12784 fix(ui): show correct podGC message for deleteDelayDuration. Fixes: #12395
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
  ui/src/models/workflows.ts
Labels: area/ui

#12755 fix: mark task result completed use nodeId instead of podname. Fixes: #12733
  workflow/controller/operator.go
Labels: area/controller, type/backport

#12785 docs: update Helm values for SSO config
  docs/argo-server-sso-argocd.md
Labels: area/docs, area/sso-rbac

#12761 fix: workflow stuck in running state when using activeDeadlineSeconds on template level. Fixes: #12329
  test/e2e/workflow_test.go
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, prioritized-review

#12700 feat: support dag and steps level scheduling constraints. Fixes: #12568
  workflow/controller/agent.go
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/controller/workflowpod.go
Labels: area/controller, prioritized-review

#12628 fix: inline template loops should receive more than the first item. Fixes: #12594
  pkg/apis/workflow/v1alpha1/workflow_types.go
  workflow/controller/inline_test.go
  workflow/templateresolution/context.go
Labels: area/controller, area/looping, prioritized-review

#12753 fix(deps): upgrade `pgx` from 4.18.1 to 4.18.2 due to CVE
  go.mod
  go.sum
Labels: type/security, type/dependencies, go, prioritized-review

#12763 fix(deps): upgrade `undici` from 5.28.2 to 5.28.3 due to CVE
  ui/yarn.lock
Labels: type/security, type/dependencies, javascript, prioritized-review

#12820 docs(cli): add `stdin` example for `argo submit`. Relates to #926
  cmd/argo/commands/submit.go
  docs/cli/argo_submit.md
Labels: area/cli, area/docs

#12825 fix: pass dnsconfig to agent pod. Fixes: #12824
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/fields.md
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1WorkflowSpec.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_workflow_spec.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1WorkflowSpec.md
  workflow/controller/agent.go
  workflow/controller/workflowpod.go
Labels: area/executor, area/templates/http

#12780 fix: return itself when getOutboundNodes from memoization Hit steps/DAG. Fixes: #7873
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, area/memoization

#12774 chore(build): improve organization of `hack/` dir
  .github/workflows/ci-build.yaml
  Makefile
  hack/README.md
  hack/api/jsonschema/main.go
  hack/api/jsonschema/types.go
  hack/api/swagger/kubeifyswagger.go
  hack/api/swagger/main.go
  hack/api/swagger/secondaryswaggergen.go
  hack/api/swagger/swaggify.sh
  hack/api/swagger/types.go
  hack/docs/check-env-doc.sh
  hack/docs/cli.go
  hack/docs/copy-readme.sh
  hack/docs/diagram.go
  hack/docs/fields.go
  hack/docs/main.go
  hack/docs/null_fields.go
  hack/manifests/auto-gen-msg.sh
  hack/manifests/crdgen.sh
  hack/manifests/crds.go
  hack/manifests/main.go
  hack/manifests/types.go
  hack/wfgraph.py
Labels: area/build, prioritized-review

#12713 chore(deps): bump github.com/vektra/mockery from v2.26.0 to v2.42.0
  Makefile
  dev/nix/flake.nix
  persist/sqldb/mocks/WorkflowArchive.go
  pkg/apiclient/workflow/mocks/WorkflowServiceClient.go
  pkg/apiclient/workflowtemplate/mocks/WorkflowTemplateServiceClient.go
  server/auth/mocks/Gatekeeper.go
  server/auth/sso/mocks/Interface.go
  workflow/artifactrepositories/mocks/Interface.go
  workflow/executor/mocks/ContainerRuntimeExecutor.go
  workflow/sync/mocks/Throttler.go
Labels: type/dependencies, go

#12839 refactor(cli): move common functions to `util.go`
  cmd/argo/commands/clustertemplate/create.go
  cmd/argo/commands/clustertemplate/get.go
  cmd/argo/commands/clustertemplate/util.go
  cmd/argo/commands/clustertemplate/util_test.go
  cmd/argo/commands/cron/create.go
  cmd/argo/commands/cron/get.go
  cmd/argo/commands/cron/util.go
  cmd/argo/commands/cron/util_test.go
  cmd/argo/commands/template/create.go
  cmd/argo/commands/template/get.go
  cmd/argo/commands/template/util.go
Labels: area/cli

#12756 fix(containerSet): mark container deleted when pod deleted. Fixes: #12210
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/controller, area/templates/container-set, prioritized-review

#12773 chore: mark `pkg/client/` as generated code
  .gitattributes
Labels: area/build, area/contributing

#12822 chore(deps): bump k8s dependencies to 1.25
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  docs/releases.md
  go.mod
  go.sum
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ContainerNode.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1ScriptTemplate.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1UserContainer.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_container_node.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_script_template.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_user_container.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ContainerNode.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1ScriptTemplate.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1UserContainer.md
  workflow/controller/testdata/dag_retry_succeeded.yaml
  workflow/controller/testdata/dag_xfail.yaml
  workflow/gccontroller/gc_controller_test.go
Labels: type/dependencies, go

#12841 chore: fix some docs and comment typos
  docs/retries.md
  examples/workflow-count-resourcequota.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  manifests/quick-start/base/executor/docker/executor-role.yaml
  manifests/quick-start/base/executor/emissary/executor-role.yaml
  manifests/quick-start/base/executor/k8sapi/executor-role.yaml
  manifests/quick-start/base/executor/kubelet/executor-role.yaml
  manifests/quick-start/base/executor/pns/executor-role.yaml
  test/e2e/functional/retry-with-artifacts.yaml
  test/e2e/smoke/runasnonroot-output-params-pipeline.yaml
Labels: area/docs

#12775 chore(deps): upgrade `actions/cache` and `create-pull-request` to Node v20
  .github/workflows/changelog.yaml
  .github/workflows/release.yaml
Labels: type/dependencies, github_actions

#12792 fix: terminate workflow should not get throttled Fixes #12778
  workflow/controller/controller.go
  workflow/controller/controller_test.go
Labels: area/controller, area/synchronization

#12843 docs(sso): clarify Dex `staticClients` ID
  docs/argo-server-sso-argocd.md
Labels: area/docs, area/sso-rbac

#12764 docs: reformat README as 1 sentence per line of markdown
  README.md
  docs/README.md
Labels: area/docs

#12850 chore(deps): upgrade Cosign to v2.2.3
  .github/workflows/release.yaml
Labels: type/security, type/dependencies, github_actions

#12815 fix: filter hook node to find the correct lastNode. Fixes: #12109
  test/e2e/hooks_test.go
  workflow/controller/operator.go
Labels: area/hooks, area/retry, prioritized-review

#12855 fix(test): wait enough time to Trigger Running Hook. Fixes: #12844
  test/e2e/hooks_test.go
Labels: area/build, area/hooks

#12858 refactor: use context from `processNextPodCleanupItem`
  workflow/common/util.go
  workflow/controller/controller.go
  workflow/signal/signal.go
Labels: area/controller

#12846 chore(deps): bump google.golang.org/protobuf to 1.33.0 to fix CVE-2024-24786
  go.mod
  go.sum
Labels: type/security, type/dependencies, go
