Repository argoproj/argo-workflows, pull requests merged in 2024-05, with the labels that each got.

#12890 ci(deps): group Dependabot updates by devDeps vs prod deps
  .github/dependabot.yml
Labels: area/build

#12908 feat: implement OpenStream func of OSS artifactdriver. Part of #8489
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#12998 fix: upgrade `argo-ui` components to latest (3.4 backport)
  ui/package.json
  ui/src/app/archived-workflows/components/archived-workflow-details/archived-workflow-details.tsx
  ui/src/app/event-sources/components/event-source-list/event-source-list.tsx
  ui/src/app/sensors/components/sensor-list/sensor-list.tsx
  ui/src/app/shared/components/dropdown/dropdown.tsx
  ui/src/app/shared/components/filter-drop-down.tsx
  ui/src/app/shared/components/phase-icon.tsx
  ui/src/app/shared/components/tags-input/tags-input.tsx
  ui/src/app/tsconfig.json
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  ui/src/app/workflows/components/workflow-timeline/workflow-timeline.tsx
  ui/yarn.lock
Labels: type/dependencies, area/ui, javascript, type/backport

#12926 fix: setBucketLifecycleRule error in OSS Artifact Driver. Fixes #12925
  workflow/artifacts/oss/oss.go
Labels: area/artifacts

#13018 fix: use argocli image from pull request in CI
  .github/workflows/ci-build.yaml
  go.mod
  go.sum
  persist/sqldb/archived_workflow_labels.go
  persist/sqldb/archived_workflow_labels_test.go
  persist/sqldb/db_type.go
  persist/sqldb/mocks/WorkflowArchive.go
  persist/sqldb/null_workflow_archive.go
  persist/sqldb/selector.go
  persist/sqldb/workflow_archive.go
  pkg/apiclient/argo-kube-client.go
  server/apiserver/argoserver.go
  server/utils/list_options.go
  server/workflow/store/sqlite_store.go
  server/workflow/store/sqlite_store_test.go
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
  server/workflowarchive/archived_workflow_server.go
  server/workflowarchive/archived_workflow_server_test.go
  test/e2e/fixtures/e2e_suite.go
  test/e2e/functional/json-argument.yaml
  test/e2e/functional/output-jqfilter-parameters.yaml
  test/e2e/testdata/artifact-workflow-stopped.yaml
  test/e2e/testdata/artifactgc/artgc-dag-wf-self-delete.yaml
  test/e2e/testdata/artifactgc/artgc-dag-wf-stopped-pod-gc-on-pod-completion.yaml
  test/e2e/testdata/artifactgc/artgc-dag-wf-stopped.yaml
  test/e2e/testdata/retry-on-stopped.yaml
  workflow/controller/estimation/estimator_factory.go
  workflow/controller/estimation/estimator_factory_test.go
Labels: area/build, P1, prioritized-review

#13024 ci: run E2E tests if `Dockerfile` changes
  .github/workflows/ci-build.yaml
Labels: area/build

#13023 fix: don't rebuild `ui/dist/app/index.html` in `argocli-build` stage
  Dockerfile
Labels: area/build, prioritized-review

#13021 feat: add sqlite-based memory store for live workflows. Fixes #12025
  go.mod
  go.sum
  persist/sqldb/archived_workflow_labels.go
  persist/sqldb/archived_workflow_labels_test.go
  persist/sqldb/db_type.go
  persist/sqldb/mocks/WorkflowArchive.go
  persist/sqldb/null_workflow_archive.go
  persist/sqldb/selector.go
  persist/sqldb/workflow_archive.go
  pkg/apiclient/argo-kube-client.go
  server/apiserver/argoserver.go
  server/utils/list_options.go
  server/workflow/store/lister.go
  server/workflow/store/sqlite_store.go
  server/workflow/store/sqlite_store_test.go
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
  server/workflowarchive/archived_workflow_server.go
  server/workflowarchive/archived_workflow_server_test.go
  test/e2e/fixtures/e2e_suite.go
  workflow/controller/estimation/estimator_factory.go
  workflow/controller/estimation/estimator_factory_test.go
Labels: area/api, area/server

#12984 feat(executor): set seccomp profile to runtimedefault
  test/e2e/executor_plugins_test.go
  workflow/common/security_context.go
  workflow/controller/agent.go
  workflow/controller/artifact_gc.go
  workflow/controller/workflowpod.go
Labels: type/security, solution/workaround, area/executor, area/templates/resource, area/artifacts, area/gc, area/agent

#13034 docs: update link to Piper
  README.md
  docs/README.md
Labels: area/docs

#12516 build(ui): improve performance with `esbuild-loader`
  ui/package.json
  ui/src/app/index.tsx
  ui/src/app/shared/utils.ts
  ui/src/app/tsconfig.json
  ui/src/app/typings.d.ts
  ui/src/app/webpack.config.js
  ui/yarn.lock
Labels: type/dependencies, area/ui, area/build, javascript

#13046 refactor(ui): optimize state in logs viewer
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
Labels: area/ui

#13054 build: simplify release notes as cross-platform
  Makefile
  hack/release-notes.md
Labels: area/build

#13036 refactor(test): use `t.Setenv`
  cmd/argo/commands/client/conn_test.go
  server/auth/gatekeeper_test.go
  server/cache/resource_cache_test.go
  server/workflowarchive/archived_workflow_server_test.go
  util/env/env_test.go
  util/errors/errors_test.go
  util/file/fileutil_test.go
  util/kubeconfig/kubeconfig_test.go
  util/util_test.go
  workflow/artifacts/s3/s3_test.go
  workflow/controller/operator_test.go
  workflow/controller/pod/significant_test.go
  workflow/events/event_recorder_manager_test.go
  workflow/executor/resource_test.go
Labels: area/build

#13047 fix(docs): Clarify quick start installation. Fixes #13032
  docs/quick-start.md
Labels: area/docs

#13012 fix: add timeout for executor signal
  workflow/signal/signal.go
Labels: area/controller, area/executor

#13004 fix: ignore retry node when check succeeded descendant nodes. Fixes: #13003
  test/e2e/cli_test.go
  test/e2e/testdata/retry-workflow-with-continueon.yaml
  workflow/util/util.go
Labels: area/retry-manual, area/retryStrategy

#12701 fix: nodeAntiAffinity is not working as expected when boundaryID is empty. Fixes: #9193
  test/e2e/fixtures/when.go
  test/e2e/retry_test.go
  workflow/controller/operator_test.go
  workflow/controller/retry_tweak.go
Labels: area/controller, prioritized-review, area/retryStrategy

#12940 fix: delete skipped node when resubmit with memoized.Fixes: #12936
  test/e2e/cli_test.go
  test/e2e/testdata/resubmit-dag-with-dependencies.yaml
  workflow/util/util.go
Labels: area/server

#13027 ci: optimise image building
  .github/workflows/ci-build.yaml
Labels: area/build

#12830 fix: Enable realtime metric gc after its workflow is completed. Fixes #12790
  workflow/controller/controller.go
  workflow/controller/operator.go
  workflow/metrics/metrics.go
  workflow/metrics/metrics_test.go
  workflow/metrics/server.go
Labels: area/metrics, area/gc

#12973 fix(ui): show container logs when using `templateRef`
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
Labels: area/ui, area/workflow-templates

#12158 refactor(ui): code-split out large `xterm` dep
  ui/src/app/api-docs/api-docs.tsx
  ui/src/app/app-router.tsx
  ui/src/app/app.tsx
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-details.tsx
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-editor.tsx
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-list.tsx
  ui/src/app/cron-workflows/cron-workflow-details.tsx
  ui/src/app/cron-workflows/cron-workflow-editor.tsx
  ui/src/app/cron-workflows/cron-workflow-list.tsx
  ui/src/app/cron-workflows/cron-workflow-spec-editior.tsx
  ui/src/app/event-flow/event-flow-page.tsx
  ui/src/app/event-sources/event-source-details.tsx
  ui/src/app/event-sources/event-source-editor.tsx
  ui/src/app/event-sources/event-source-list.tsx
  ui/src/app/help/help.tsx
  ui/src/app/login/login.tsx
  ui/src/app/plugins/plugin-list.tsx
  ui/src/app/reports/reports.tsx
  ui/src/app/sensors/sensor-details.tsx
  ui/src/app/sensors/sensor-editor.tsx
  ui/src/app/sensors/sensor-list.tsx
  ui/src/app/sensors/sensor-side-panel.tsx
  ui/src/app/shared/components/checkbox-filter/checkbox-filter.tsx
  ui/src/app/shared/components/clipboard-text.tsx
  ui/src/app/shared/components/data-loader-dropdown.tsx
  ui/src/app/shared/components/filter-drop-down.tsx
  ui/src/app/shared/components/input-filter.tsx
  ui/src/app/shared/components/links.tsx
  ui/src/app/shared/components/loading.tsx
  ui/src/app/shared/components/parameters-input.tsx
  ui/src/app/shared/components/tags-input/tags-input.tsx
  ui/src/app/shared/components/timestamp.tsx
  ui/src/app/shared/context.ts
  ui/src/app/userinfo/user-info.tsx
  ui/src/app/workflow-event-bindings/workflow-event-bindings.tsx
  ui/src/app/workflow-templates/workflow-template-details.tsx
  ui/src/app/workflow-templates/workflow-template-editor.tsx
  ui/src/app/workflow-templates/workflow-template-list.tsx
  ui/src/app/workflows/components/resubmit-workflow-panel.tsx
  ui/src/app/workflows/components/retry-workflow-panel.tsx
  ui/src/app/workflows/components/submit-workflow-panel.tsx
  ui/src/app/workflows/components/workflow-details/suspend-inputs.tsx
  ui/src/app/workflows/components/workflow-details/workflow-details.tsx
  ui/src/app/workflows/components/workflow-editor.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/full-height-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-logs-viewer/workflow-logs-viewer.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  ui/src/app/workflows/components/workflow-panel/workflow-panel.tsx
  ui/src/app/workflows/components/workflow-summary-panel.tsx
  ui/src/app/workflows/components/workflow-yaml-viewer/workflow-yaml-viewer.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
  ui/src/app/workflows/components/workflows-summary-container/workflows-summary-container.tsx
  ui/src/app/workflows/components/workflows-toolbar/workflows-toolbar.tsx
  ui/src/models/index.ts
Labels: area/ui, area/build

#13094 refactor(ui): heavily simplify `WorkflowCreator` effect
  ui/src/app/workflows/components/workflow-creator.tsx
Labels: type/tech-debt, area/ui

#13087 docs: clarify `Skipped` and `Omitted` in enhanced `depends`
  docs/enhanced-depends-logic.md
Labels: area/docs, area/templates/dag

#13111 fix: silence devcontainer `Permission denied` error. Fixes #13109
  .devcontainer/pre-build.sh
Labels: area/contributing
