Repository argoproj/argo-workflows, pull requests merged in 2024-08, with the labels that each got.

#13016 fix: Only apply execution control to nodes that are not part of exit handler.
  pkg/apis/workflow/v1alpha1/workflow_types.go
  test/e2e/hooks_test.go
  workflow/controller/exec_control.go
  workflow/controller/exit_handler_test.go
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/controller/taskset.go
  workflow/controller/workflowpod.go
Labels: area/templates/http, area/exit-handler, area/agent

#13455 fix(docs): Provide versioned links to documentation
  cmd/argo/commands/server.go
  pkg/apiclient/argo-kube-client.go
  pkg/apis/workflow/v1alpha1/version_types.go
  util/help/topics.go
  workflow/controller/operator.go
Labels: area/docs

#13260 fix: Set initial progress from pod metadata if exists. Fixes #13057
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/controller/workflowpod.go
Labels: problem/more information needed

#13459 refactor(tests): testifylint don't use `Equal` for floating point tests
  util/env/env_test.go
  workflow/controller/operator_metrics_test.go
  workflow/controller/operator_test.go
  workflow/metrics/metrics_test.go
  workflow/metrics/work_queue_test.go
Labels: area/build

#13462 refactor(tests): `assert.Error`->`require.Error` (remainder)
  cmd/argoexec/commands/emissary_test.go
  server/artifacts/artifact_server_test.go
  server/auth/authorizer_test.go
  server/auth/gatekeeper_test.go
  server/auth/mode_test.go
  server/auth/serviceaccount/claims_test.go
  server/auth/sso/null_sso_test.go
  server/auth/sso/sso_test.go
  server/auth/types/claims_test.go
  server/clusterworkflowtemplate/cluster_workflow_template_server_test.go
  server/cronworkflow/cron_workflow_server_test.go
  server/event/dispatch/operation_test.go
  server/event/event_server_test.go
  server/info/info_server_test.go
  server/sensor/sensor_server_test.go
  server/utils/errors_test.go
  server/workflow/store/sqlite_store_test.go
  server/workflow/workflow_server_test.go
  server/workflowarchive/archived_workflow_server_test.go
  server/workflowtemplate/workflow_template_server_test.go
  test/e2e/argo_server_test.go
  test/e2e/artifacts_test.go
  test/e2e/cli_test.go
  test/e2e/fixtures/given.go
  test/e2e/functional_test.go
  test/e2e/retry_test.go
  workflow/artifacts/http/http_test.go
  workflow/executor/resource_test.go
Labels: area/build

#13467 chore(lint): enable testifylint
  .golangci.yml
  server/artifacts/artifact_server_test.go
  test/e2e/hooks_test.go
Labels: area/build

#13452 feat(ui): add history to WorkflowTemplate & ClusterWorkflowTemplate details
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-details.tsx
  ui/src/app/cron-workflows/cron-workflow-details.tsx
  ui/src/app/workflow-templates/workflow-template-details.tsx
  ui/src/app/workflows/components/workflow-details-list/workflow-details-list.scss
  ui/src/app/workflows/components/workflow-details-list/workflow-details-list.tsx
Labels: area/ui, area/workflow-templates

#13265 feat!: OpenTelemetry metrics
  .spelling
  cmd/workflow-controller/main.go
  docs/metrics.md
  docs/upgrading.md
  docs/workflow-controller-configmap.yaml
  go.mod
  go.sum
  pkg/apis/workflow/v1alpha1/version_types.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/workflow_types_test.go
  test/e2e/metrics_test.go
  util/help/topics.go
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/controller/dag.go
  workflow/controller/healthz.go
  workflow/controller/operator.go
  workflow/controller/operator_metrics_test.go
  workflow/controller/operator_test.go
  workflow/cron/controller.go
  workflow/cron/operator.go
  workflow/cron/operator_test.go
  workflow/gccontroller/gc_controller.go
  workflow/gccontroller/gc_controller_test.go
  workflow/metrics/callbacks.go
  workflow/metrics/counter_error.go
  workflow/metrics/counter_log.go
  workflow/metrics/counter_pod_missing.go
  workflow/metrics/exporter_prometheus.go
  workflow/metrics/exporter_prometheus_test.go
  workflow/metrics/gauge_pod_phase.go
  workflow/metrics/gauge_workflow_condition.go
  workflow/metrics/gauge_workflow_phase.go
  workflow/metrics/histogram_durations.go
  workflow/metrics/instrument.go
  workflow/metrics/k8s_request_total_metric.go
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
  workflow/metrics/metrics_custom.go
  workflow/metrics/metrics_k8s_request.go
  workflow/metrics/metrics_test.go
  workflow/metrics/operators.go
  workflow/metrics/pod_missing_metric.go
  workflow/metrics/server.go
  workflow/metrics/server_test.go
  workflow/metrics/test_exporter.go
  workflow/metrics/util.go
  workflow/metrics/util_test.go
  workflow/metrics/work_queue.go
  workflow/metrics/work_queue_test.go
  workflow/metrics/workflow_condition_metric.go
  workflow/validate/validate.go
  workflow/validate/validate_test.go
Labels: area/controller, area/metrics, prioritized-review

#13266 feat!: enable Prometheus TLS by default
  config/config.go
  docs/metrics.md
  docs/upgrading.md
  docs/workflow-controller-configmap.yaml
  test/e2e/metrics_test.go
  workflow/controller/controller.go
Labels: type/security, area/controller, area/metrics

#13448 fix: avoid exit handler nil pointer when missing outputs. Fixes #13445
  test/e2e/expectedfailures/exit-handler-fail-missing-output.yaml
  test/e2e/functional_test.go
  workflow/controller/exit_handler.go
Labels: area/hooks, area/templating, area/exit-handler

#13267 feat: enable configuration of temporality in opentelemetry metrics
  .spelling
  config/config.go
  docs/metrics.md
  docs/workflow-controller-configmap.yaml
  workflow/controller/controller.go
  workflow/metrics/metrics.go
Labels: area/controller, area/metrics

#13419 feat(controller): optimize memory with queue when archiving is rate-limited. Fixes #13418
  cmd/workflow-controller/main.go
  workflow/controller/controller.go
Labels: area/controller, area/workflow-archive

#13145 fix(build): correct `make` target deps for Go binaries
  Dockerfile
  Makefile
Labels: area/build, area/contributing

#13268 feat: enable configuration of individual metrics
  config/config.go
  docs/metrics.md
  docs/upgrading.md
  docs/workflow-controller-configmap.yaml
  workflow/controller/controller.go
  workflow/metrics/instrument.go
  workflow/metrics/metrics.go
  workflow/metrics/modifiers.go
  workflow/metrics/modifiers_test.go
Labels: area/controller, area/metrics

#13269 feat: new version metric
  docs/metrics.md
  docs/upgrading.md
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
  workflow/metrics/version.go
  workflow/metrics/version_test.go
Labels: area/controller, area/metrics

#13270 feat: new leader metric
  docs/metrics.md
  docs/upgrading.md
  workflow/controller/controller.go
  workflow/metrics/callbacks.go
  workflow/metrics/leader.go
  workflow/metrics/leader_test.go
  workflow/metrics/metrics.go
  workflow/metrics/metrics_test.go
  workflow/metrics/modifiers_test.go
  workflow/metrics/test_exporter.go
Labels: area/controller, area/metrics, lgtm

#13376 docs: adhere to style guide for Azure SAS support
  docs/configure-artifact-repository.md
Labels: area/docs, area/artifacts

#13473 chore(deps): bump `golangci-lint` from 1.55.1 to 1.59.1
  Makefile
  cmd/argoexec/commands/emissary_test.go
  server/auth/sso/sso.go
  server/workflow/workflow_server_test.go
  workflow/artifacts/http/http_test.go
Labels: type/dependencies, go, area/build

#13463 docs: describe `id` in node field selector
  docs/node-field-selector.md
Labels: area/api, area/docs

#13271 feat: new k8s request duration histogram metric
  docs/metrics.md
  docs/upgrading.md
  workflow/metrics/metrics_k8s_request.go
Labels: area/controller, area/metrics

#13272 feat: new pod phase counter metric
  docs/metrics.md
  docs/upgrading.md
  workflow/controller/operator.go
  workflow/controller/operator_test.go
  workflow/metrics/counter_pod_phase.go
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
Labels: area/controller, area/metrics

#13274 feat: new cron workflow trigger counter metric
  docs/metrics.md
  docs/upgrading.md
  test/e2e/metrics_test.go
  test/e2e/testdata/cronworkflow-metrics.yaml
  workflow/cron/operator.go
  workflow/metrics/counter_cronworkflow_trigger.go
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
Labels: area/controller, area/metrics

#13273 feat: new pod pending counter metric
  docs/metrics.md
  docs/upgrading.md
  test/e2e/metrics_test.go
  test/e2e/testdata/workflow-pending-metrics.yaml
  workflow/controller/operator.go
  workflow/metrics/counter_pod_pending.go
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
Labels: area/controller, area/metrics

#13275 feat: new template counting and phase counting metrics
  docs/metrics.md
  docs/upgrading.md
  test/e2e/metrics_test.go
  test/e2e/testdata/clustertemplateref-metrics.yaml
  test/e2e/testdata/templateref-metrics.yaml
  workflow/controller/operator.go
  workflow/metrics/counter_template.go
  workflow/metrics/counter_workflow_phase.go
  workflow/metrics/histogram_template.go
  workflow/metrics/labels.go
  workflow/metrics/metrics.go
Labels: area/controller, area/metrics

#13211 fix: Task result comparison is incorrect, leading to inconsistent comparison results.
  workflow/controller/taskresult.go
Labels: area/controller

#13500 fix(controller): remove ArtifactGC `finalizer` when no artifacts. Fixes #13499
  test/e2e/artifacts_test.go
  test/e2e/testdata/artifactgc/artgc-artifact-not-written-failed.yaml
  workflow/controller/artifact_gc.go
Labels: area/artifacts, area/gc

#13198 fix: Do not reset the root node by default. Fixes #13196
  test/e2e/cli_test.go
  test/e2e/testdata/retry-workflow-with-failed-exit-handler.yaml
  workflow/util/util.go
Labels: area/exit-handler, area/retry-manual

#13508 fix(docs): use `sh` instead of `bash` with `busybox`
  examples/work-avoidance.yaml
Labels: area/docs

#13284 feat(ui): Add start/end workflows ISO display switch
  ui/src/app/cluster-workflow-templates/cluster-workflow-template-list.tsx
  ui/src/app/cron-workflows/cron-workflow-list.tsx
  ui/src/app/cron-workflows/cron-workflow-status-viewer.tsx
  ui/src/app/event-sources/event-source-list.tsx
  ui/src/app/sensors/sensor-list.tsx
  ui/src/app/shared/components/timestamp.tsx
  ui/src/app/shared/use-timestamp.ts
  ui/src/app/workflow-templates/workflow-template-list.tsx
  ui/src/app/workflows/components/events-panel.tsx
  ui/src/app/workflows/components/workflow-artifacts.tsx
  ui/src/app/workflows/components/workflow-details-list/workflow-details-list.tsx
  ui/src/app/workflows/components/workflow-node-info/workflow-node-info.tsx
  ui/src/app/workflows/components/workflow-summary-panel.tsx
  ui/src/app/workflows/components/workflows-list/workflows-list.scss
  ui/src/app/workflows/components/workflows-list/workflows-list.tsx
  ui/src/app/workflows/components/workflows-row/workflows-row.tsx
Labels: area/ui

#13523 docs: add `workflow_archive_queue` to metrics docs
  docs/metrics.md
Labels: area/docs, area/metrics

#13495 refactor(tests): `if assert.*` -> `require.*`. Fixes #13465
  pkg/apis/workflow/v1alpha1/artifact_repository_types_test.go
  pkg/apis/workflow/v1alpha1/data_types_test.go
  pkg/apis/workflow/v1alpha1/workflow_template_types_test.go
  pkg/apis/workflow/v1alpha1/workflow_types_test.go
  server/artifacts/artifact_server_test.go
  server/auth/gatekeeper_test.go
  server/auth/mode_test.go
  server/event/dispatch/operation_test.go
  test/e2e/agent_test.go
  test/e2e/artifacts_test.go
  test/e2e/cli_test.go
  test/e2e/cron_test.go
  test/e2e/daemon_pod_test.go
  test/e2e/executor_plugins_test.go
  test/e2e/functional_test.go
  test/e2e/resource_template_test.go
  test/e2e/signals_test.go
  util/kubeconfig/kubeconfig_test.go
  workflow/artifacts/http/http_test.go
  workflow/common/convert_test.go
  workflow/controller/cache_test.go
  workflow/controller/container_set_template_test.go
  workflow/controller/controller_test.go
  workflow/controller/dag_test.go
  workflow/controller/estimation/estimator_factory_test.go
  workflow/controller/exit_handler_test.go
  workflow/controller/informer/cluster_workflow_template_convert_test.go
  workflow/controller/informer/workflow_template_convert_test.go
  workflow/controller/operator_data_test.go
  workflow/controller/operator_template_scope_test.go
  workflow/controller/operator_test.go
  workflow/controller/operator_workflow_template_ref_test.go
  workflow/controller/workflowpod_test.go
  workflow/creator/creator_test.go
  workflow/cron/operator_test.go
  workflow/templateresolution/context_test.go
  workflow/util/util_test.go
Labels: area/build

#13519 feat(ui): add full workflow name in list details. Fixes #11949
  ui/src/app/workflows/components/workflow-drawer/workflow-drawer.tsx
Labels: area/ui

#13491 fix: Mark taskResult completed if wait container terminated not gracefully. Fixes #13373
  workflow/controller/operator.go
Labels: area/controller, prioritized-review

#13286 fix: don't clean up old offloaded records during save. Fixes: #13220
  persist/sqldb/offload_node_status_repo.go
Labels: area/controller, area/gc

#13524 chore(deps): bump `docker` from 26.1.5 to 27.1.1
  go.mod
  go.sum
Labels: type/dependencies, go
