Repository argoproj/argo-workflows, pull requests merged in 2025-02, with the labels that each got.

#14164 fix: remove `/test` command comment
  .github/workflows/ci-build.yaml
  .github/workflows/docs.yaml
  docs/CONTRIBUTING.md
  docs/releasing.md
Labels: area/build, prioritized-review, area/contributing

#14130 fix: correct type of pods_total_count metric
  util/telemetry/builder/values.yaml
  util/telemetry/metrics_list.go
Labels: area/metrics

#14183 fix(ci): python sdk release process (release-3.6)
  sdks/python/Makefile
Labels: area/build

#14176 docs: autogenerate tested k8s versions and centralize config
  .devcontainer/pre-build.sh
  .github/workflows/ci-build.yaml
  .spelling
  Makefile
  docs/releases.md
  docs/tested-kubernetes-versions.md
  hack/docs/tested-versions.sh
  hack/k8s-versions.sh
  mkdocs.yml
Labels: area/docs

#14196 ci: drop support for k8s 1.29 and centralize config
  hack/k8s-versions.sh
Labels: area/build

#14197 fix: gracefully handle invalid CronWorkflows and simplify logic. Fixes #14047
  ui/src/cron-workflows/cron-workflow-editor.tsx
  ui/src/cron-workflows/cron-workflow-row.tsx
  ui/src/cron-workflows/cron-workflow-spec-editor.tsx
  ui/src/cron-workflows/cron-workflow-status-viewer.tsx
  ui/src/shared/examples.ts
  ui/src/shared/models/cron-workflows.ts
  ui/src/shared/services/cron-workflow-service.test.ts
  ui/src/shared/services/cron-workflow-service.ts
Labels: type/regression, area/ui
