Repository argoproj/argo-workflows, pull requests merged in 2025-01, with the labels that each got.

#14048 build: minor upgrades/refactoring to support full CRDs
  .devcontainer/pre-build.sh
  Makefile
  manifests/base/crds/kustomization.yaml
  manifests/base/kustomization.yaml
  manifests/cluster-install/kustomization.yaml
  manifests/components/mysql/argo-mysql-config-secret.yaml
  manifests/components/mysql/kustomization.yaml
  manifests/components/mysql/mysql-deployment.yaml
  manifests/components/mysql/mysql-service.yaml
  manifests/components/mysql/overlays/workflow-controller-configmap.yaml
  manifests/components/postgres/argo-postgres-config-secret.yaml
  manifests/components/postgres/kustomization.yaml
  manifests/components/postgres/overlays/workflow-controller-configmap.yaml
  manifests/components/postgres/postgres-deployment.yaml
  manifests/components/postgres/postgres-service.yaml
  manifests/components/sso/dex/dev-svc.yaml
  manifests/components/sso/dex/dex-cm.yaml
  manifests/components/sso/dex/dex-deploy.yaml
  manifests/components/sso/dex/dex-rb.yaml
  manifests/components/sso/dex/dex-role.yaml
  manifests/components/sso/dex/dex-sa.yaml
  manifests/components/sso/dex/kustomization.yaml
  manifests/components/sso/kustomization.yaml
  manifests/components/sso/overlays/argo-server-sa.yaml
  manifests/components/sso/overlays/workflow-controller-configmap.yaml
  manifests/namespace-install/kustomization.yaml
  manifests/quick-start/minimal/kustomization.yaml
  manifests/quick-start/mysql/kustomization.yaml
  manifests/quick-start/postgres/kustomization.yaml
  manifests/quick-start/sso/kustomization.yaml
  test/e2e/manifests/components/base/kustomization.yaml
  test/e2e/manifests/events/kustomization.yaml
  test/e2e/manifests/minimal/kustomization.yaml
  test/e2e/manifests/mysql/kustomization.yaml
  test/e2e/manifests/plugins/kustomization.yaml
  test/e2e/manifests/postgres/kustomization.yaml
  test/e2e/manifests/prometheus/kustomization.yaml
  test/e2e/manifests/sso/kustomization.yaml
  test/e2e/manifests/stress/kustomization.yaml
Labels: area/build, area/manifests

#14039 fix: ensure namespace parallelism and parallelism work together. Fixes #10985
  docs/parallelism.md
  workflow/controller/controller.go
  workflow/controller/controller_test.go
  workflow/sync/chain_throttler.go
  workflow/sync/chain_throttler_test.go
  workflow/sync/multi_throttler.go
  workflow/sync/multi_throttler_test.go
  workflow/sync/throttler.go
  workflow/sync/throttler_test.go
Labels: area/controller, area/parallelism

#14070 fix: update upload-artifact and download-artifact
  .github/dependabot.yml
  .github/workflows/ci-build.yaml
  .github/workflows/docs.yaml
Labels: prioritized-review, area/contributing

#14089 ci: add step to validate release manifests
  .github/workflows/ci-build.yaml
  Makefile
Labels: area/build, area/manifests

#14044 fix(manifests): fix full CRDs and update tests to use them. Fixes #8532
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  docs/installation.md
  hack/manifests/crdgen.sh
  hack/manifests/crds.go
  hack/manifests/helpers.go
  hack/manifests/types.go
  manifests/base/crds/full/README.md
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workfloweventbindings.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  manifests/base/crds/minimal/README.md
  manifests/base/crds/minimal/argoproj.io_workfloweventbindings.yaml
  manifests/quick-start-minimal.yaml
  manifests/quick-start-mysql.yaml
  manifests/quick-start-postgres.yaml
  pkg/apis/workflow/v1alpha1/cron_workflow_types.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/item.go
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowStatus.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1DAGTask.md
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1WorkflowStep.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_cron_workflow_status.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_dag_task.py
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_workflow_step.py
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1CronWorkflowStatus.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1DAGTask.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1WorkflowStep.md
  test/e2e/cron_test.go
  test/e2e/fixtures/given.go
  test/e2e/malformed_resources_test.go
  test/e2e/manifests/components/base/kustomization.yaml
Labels: type/bug, area/manifests

#13782 feat(controller): support cap on retryStrategy backoff. Fixes #13772
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  examples/retry-backoff.yaml
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1Backoff.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_backoff.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1Backoff.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/controller/operator.go
  workflow/controller/operator_test.go
Labels: area/retryStrategy

#14104 feat: label actor action when making change to workflow/template. Fixes #14102
  server/clusterworkflowtemplate/cluster_workflow_template_server.go
  server/clusterworkflowtemplate/cluster_workflow_template_server_test.go
  server/cronworkflow/cron_workflow_server.go
  server/cronworkflow/cron_workflow_server_test.go
  server/event/dispatch/operation.go
  server/workflow/workflow_server.go
  server/workflow/workflow_server_test.go
  server/workflowtemplate/workflow_template_server.go
  server/workflowtemplate/workflow_template_server_test.go
  workflow/common/common.go
  workflow/creator/creator.go
  workflow/creator/creator_test.go
  workflow/util/util.go
  workflow/util/util_test.go
Labels: prioritized-review

#14072 docs: Pod Security Context: Volumes aren't required in >= v3.3 and runAsNonRoot
  docs/workflow-pod-security-context.md
Labels: area/docs

#14077 feat: set template display name in yaml
  api/jsonschema/schema.json
  api/openapi-spec/swagger.json
  docs/executor_swagger.md
  docs/fields.md
  docs/walk-through/annotations.md
  docs/walk-through/loops.md
  examples/loops-param-argument.yaml
  manifests/base/crds/full/argoproj.io_clusterworkflowtemplates.yaml
  manifests/base/crds/full/argoproj.io_cronworkflows.yaml
  manifests/base/crds/full/argoproj.io_workflows.yaml
  manifests/base/crds/full/argoproj.io_workflowtasksets.yaml
  manifests/base/crds/full/argoproj.io_workflowtemplates.yaml
  mkdocs.yml
  pkg/apis/workflow/v1alpha1/generated.pb.go
  pkg/apis/workflow/v1alpha1/generated.proto
  pkg/apis/workflow/v1alpha1/openapi_generated.go
  pkg/apis/workflow/v1alpha1/workflow_types.go
  pkg/apis/workflow/v1alpha1/zz_generated.deepcopy.go
  pkg/plugins/executor/swagger.yml
  sdks/java/client/docs/IoArgoprojWorkflowV1alpha1Template.md
  sdks/python/client/argo_workflows/model/io_argoproj_workflow_v1alpha1_template.py
  sdks/python/client/docs/ClusterWorkflowTemplateServiceApi.md
  sdks/python/client/docs/CronWorkflowServiceApi.md
  sdks/python/client/docs/IoArgoprojWorkflowV1alpha1Template.md
  sdks/python/client/docs/WorkflowServiceApi.md
  sdks/python/client/docs/WorkflowTemplateServiceApi.md
  workflow/controller/operator.go
Labels: area/ui, area/looping
